In [2]:
import csv
import pandas as pd
import numpy as np
import pycountry

In [3]:
csv_path = "https://raw.githubusercontent.com/Madhuram-S/Thermal_Warming/Guy/NaN_Replaced_Temps.csv"

#read csv
Country_Names = pd.read_csv(csv_path, low_memory=False)
Country_Names.head()

,Country,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,ALGERIA,1975,8.9,10.3,12.1,16.4,20.7,23.8,28.5,27.8,24.7,18.9,12.8,10.9
1,ALGERIA,1976,8.6,10.6,11.3,15.8,19.7,24.9,27.5,25.0,24.2,19.0,11.7,11.1
2,ALGERIA,1977,11.0,12.4,14.8,16.9,20.0,23.0,28.7,26.0,24.0,19.4,14.0,11.7
3,ALGERIA,1978,9.1,13.1,13.8,16.9,20.0,25.1,28.1,27.8,24.8,17.8,12.6,12.9
4,ALGERIA,1979,13.0,12.1,14.4,15.0,21.0,26.5,29.3,29.2,23.8,20.0,11.5,10.2

In [4]:
input_countries = (['Country'])

countries = {}
for country in pycountry.countries:
    countries[country.name] = country.alpha_2

codes = [countries.get(country, countries) for country in input_countries]

#Change Country name to uppercase
codes = dict((k.upper(),c) for k,c in codes[0].items())

print(codes)

{'ARUBA': 'AW', 'AFGHANISTAN': 'AF', 'ANGOLA': 'AO', 'ANGUILLA': 'AI', 'ÅLAND ISLANDS': 'AX', 'ALBANIA': 'AL', 'ANDORRA': 'AD', 'UNITED ARAB EMIRATES': 'AE', 'ARGENTINA': 'AR', 'ARMENIA': 'AM', 'AMERICAN SAMOA': 'AS', 'ANTARCTICA': 'AQ', 'FRENCH SOUTHERN TERRITORIES': 'TF', 'ANTIGUA AND BARBUDA': 'AG', 'AUSTRALIA': 'AU', 'AUSTRIA': 'AT', 'AZERBAIJAN': 'AZ', 'BURUNDI': 'BI', 'BELGIUM': 'BE', 'BENIN': 'BJ', 'BONAIRE, SINT EUSTATIUS AND SABA': 'BQ', 'BURKINA FASO': 'BF', 'BANGLADESH': 'BD', 'BULGARIA': 'BG', 'BAHRAIN': 'BH', 'BAHAMAS': 'BS', 'BOSNIA AND HERZEGOVINA': 'BA', 'SAINT BARTHÉLEMY': 'BL', 'BELARUS': 'BY', 'BELIZE': 'BZ', 'BERMUDA': 'BM', 'BOLIVIA, PLURINATIONAL STATE OF': 'BO', 'BRAZIL': 'BR', 'BARBADOS': 'BB', 'BRUNEI DARUSSALAM': 'BN', 'BHUTAN': 'BT', 'BOUVET ISLAND': 'BV', 'BOTSWANA': 'BW', 'CENTRAL AFRICAN REPUBLIC': 'CF', 'CANADA': 'CA', 'COCOS (KEELING) ISLANDS': 'CC', 'SWITZERLAND': 'CH', 'CHILE': 'CL', 'CHINA': 'CN', "CÔTE D'IVOIRE": 'CI', 'CAMEROON': 'CM', 'CONGO, THE DEMOCRATIC REPUBLIC OF THE': 'CD', 'CONGO': 'CG', 'COOK ISLANDS': 'CK', 'COLOMBIA': 'CO', 'COMOROS': 'KM', 'CABO VERDE': 'CV', 'COSTA RICA': 'CR', 'CUBA': 'CU', 'CURAÇAO': 'CW', 'CHRISTMAS ISLAND': 'CX', 'CAYMAN ISLANDS': 'KY', 'CYPRUS': 'CY', 'CZECHIA': 'CZ', 'GERMANY': 'DE', 'DJIBOUTI': 'DJ', 'DOMINICA': 'DM', 'DENMARK': 'DK', 'DOMINICAN REPUBLIC': 'DO', 'ALGERIA': 'DZ', 'ECUADOR': 'EC', 'EGYPT': 'EG', 'ERITREA': 'ER', 'WESTERN SAHARA': 'EH', 'SPAIN': 'ES', 'ESTONIA': 'EE', 'ETHIOPIA': 'ET', 'FINLAND': 'FI', 'FIJI': 'FJ', 'FALKLAND ISLANDS (MALVINAS)': 'FK', 'FRANCE': 'FR', 'FAROE ISLANDS': 'FO', 'MICRONESIA, FEDERATED STATES OF': 'FM', 'GABON': 'GA', 'UNITED KINGDOM': 'GB', 'GEORGIA': 'GE', 'GUERNSEY': 'GG', 'GHANA': 'GH', 'GIBRALTAR': 'GI', 'GUINEA': 'GN', 'GUADELOUPE': 'GP', 'GAMBIA': 'GM', 'GUINEA-BISSAU': 'GW', 'EQUATORIAL GUINEA': 'GQ', 'GREECE': 'GR', 'GRENADA': 'GD', 'GREENLAND': 'GL', 'GUATEMALA': 'GT', 'FRENCH GUIANA': 'GF', 'GUAM': 'GU', 'GUYANA': 'GY', 'HONG KONG': 'HK', 'HEARD ISLAND AND MCDONALD ISLANDS': 'HM', 'HONDURAS': 'HN', 'CROATIA': 'HR', 'HAITI': 'HT', 'HUNGARY': 'HU', 'INDONESIA': 'ID', 'ISLE OF MAN': 'IM', 'INDIA': 'IN', 'BRITISH INDIAN OCEAN TERRITORY': 'IO', 'IRELAND': 'IE', 'IRAN, ISLAMIC REPUBLIC OF': 'IR', 'IRAQ': 'IQ', 'ICELAND': 'IS', 'ISRAEL': 'IL', 'ITALY': 'IT', 'JAMAICA': 'JM', 'JERSEY': 'JE', 'JORDAN': 'JO', 'JAPAN': 'JP', 'KAZAKHSTAN': 'KZ', 'KENYA': 'KE', 'KYRGYZSTAN': 'KG', 'CAMBODIA': 'KH', 'KIRIBATI': 'KI', 'SAINT KITTS AND NEVIS': 'KN', 'KOREA, REPUBLIC OF': 'KR', 'KUWAIT': 'KW', "LAO PEOPLE'S DEMOCRATIC REPUBLIC": 'LA', 'LEBANON': 'LB', 'LIBERIA': 'LR', 'LIBYA': 'LY', 'SAINT LUCIA': 'LC', 'LIECHTENSTEIN': 'LI', 'SRI LANKA': 'LK', 'LESOTHO': 'LS', 'LITHUANIA': 'LT', 'LUXEMBOURG': 'LU', 'LATVIA': 'LV', 'MACAO': 'MO', 'SAINT MARTIN (FRENCH PART)': 'MF', 'MOROCCO': 'MA', 'MONACO': 'MC', 'MOLDOVA, REPUBLIC OF': 'MD', 'MADAGASCAR': 'MG', 'MALDIVES': 'MV', 'MEXICO': 'MX', 'MARSHALL ISLANDS': 'MH', 'MACEDONIA, REPUBLIC OF': 'MK', 'MALI': 'ML', 'MALTA': 'MT', 'MYANMAR': 'MM', 'MONTENEGRO': 'ME', 'MONGOLIA': 'MN', 'NORTHERN MARIANA ISLANDS': 'MP', 'MOZAMBIQUE': 'MZ', 'MAURITANIA': 'MR', 'MONTSERRAT': 'MS', 'MARTINIQUE': 'MQ', 'MAURITIUS': 'MU', 'MALAWI': 'MW', 'MALAYSIA': 'MY', 'MAYOTTE': 'YT', 'NAMIBIA': 'NA', 'NEW CALEDONIA': 'NC', 'NIGER': 'NE', 'NORFOLK ISLAND': 'NF', 'NIGERIA': 'NG', 'NICARAGUA': 'NI', 'NIUE': 'NU', 'NETHERLANDS': 'NL', 'NORWAY': 'NO', 'NEPAL': 'NP', 'NAURU': 'NR', 'NEW ZEALAND': 'NZ', 'OMAN': 'OM', 'PAKISTAN': 'PK', 'PANAMA': 'PA', 'PITCAIRN': 'PN', 'PERU': 'PE', 'PHILIPPINES': 'PH', 'PALAU': 'PW', 'PAPUA NEW GUINEA': 'PG', 'POLAND': 'PL', 'PUERTO RICO': 'PR', "KOREA, DEMOCRATIC PEOPLE'S REPUBLIC OF": 'KP', 'PORTUGAL': 'PT', 'PARAGUAY': 'PY', 'PALESTINE, STATE OF': 'PS', 'FRENCH POLYNESIA': 'PF', 'QATAR': 'QA', 'RÉUNION': 'RE', 'ROMANIA': 'RO', 'RUSSIAN FEDERATION': 'RU', 'RWANDA': 'RW', 'SAUDI ARABIA': 'SA', 'SUDAN': 'SD', 'SENEGAL': 'SN', 'SINGAPORE': 'SG', 'SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS': 'GS', 'SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA': 'SH', 'SVALBARD AND JAN MAYEN': 'SJ', 'SOLOMON ISLANDS': 'SB', 'SIERRA LEONE': 'SL', 'EL SALVADOR': 'SV', 'SAN MARINO': 'SM', 'SOMALIA': 'SO', 'SAINT PIERRE AND MIQUELON': 'PM', 'SERBIA': 'RS', 'SOUTH SUDAN': 'SS', 'SAO TOME AND PRINCIPE': 'ST', 'SURINAME': 'SR', 'SLOVAKIA': 'SK', 'SLOVENIA': 'SI', 'SWEDEN': 'SE', 'SWAZILAND': 'SZ', 'SINT MAARTEN (DUTCH PART)': 'SX', 'SEYCHELLES': 'SC', 'SYRIAN ARAB REPUBLIC': 'SY', 'TURKS AND CAICOS ISLANDS': 'TC', 'CHAD': 'TD', 'TOGO': 'TG', 'THAILAND': 'TH', 'TAJIKISTAN': 'TJ', 'TOKELAU': 'TK', 'TURKMENISTAN': 'TM', 'TIMOR-LESTE': 'TL', 'TONGA': 'TO', 'TRINIDAD AND TOBAGO': 'TT', 'TUNISIA': 'TN', 'TURKEY': 'TR', 'TUVALU': 'TV', 'TAIWAN, PROVINCE OF CHINA': 'TW', 'TANZANIA, UNITED REPUBLIC OF': 'TZ', 'UGANDA': 'UG', 'UKRAINE': 'UA', 'UNITED STATES MINOR OUTLYING ISLANDS': 'UM', 'URUGUAY': 'UY', 'UNITED STATES': 'US', 'UZBEKISTAN': 'UZ', 'HOLY SEE (VATICAN CITY STATE)': 'VA', 'SAINT VINCENT AND THE GRENADINES': 'VC', 'VENEZUELA, BOLIVARIAN REPUBLIC OF': 'VE', 'VIRGIN ISLANDS, BRITISH': 'VG', 'VIRGIN ISLANDS, U.S.': 'VI', 'VIET NAM': 'VN', 'VANUATU': 'VU', 'WALLIS AND FUTUNA': 'WF', 'SAMOA': 'WS', 'YEMEN': 'YE', 'SOUTH AFRICA': 'ZA', 'ZAMBIA': 'ZM', 'ZIMBABWE': 'ZW'}

In [5]:
# Change country names to upper case and trim whitespaces
Country_Names['Country'] = Country_Names['Country'].apply(str.upper)
Country_Names['Country'] = Country_Names['Country'].apply(str.strip)

#map codes with countries
Country_Names['Codes'] = Country_Names['Country'].map(codes)

In [6]:
# do unique values exist?
Country_Names[Country_Names.isnull().any(axis = 1)]['Country'].unique()

array(['AMERICAN SAMOA (U.S.A.)', 'ARGENTINE BASE IN ANTARCTICA',
       'BRITISH OVERSEAS TERRITORIES', 'CANARY ISLANDS (SPAIN)',
       'CHRISTMAS ISLAND (AUSTRALIA)', 'COCOS ISLANDS (AUSTRALIA)',
       'CORAL SEA ISLANDS (AUSTRALIA)', "COTE D'IVOIRE", 'CZECH REPUBLIC',
       'FAROE ISLANDS (DENMARK)', 'FRENCH GUIANA (FRANCE)',
       'FRENCH POLYNESIA (FRANCE)', 'GIBRALTAR (U.K.)',
       'GREENLAND (DENMARK)', 'GUADELOUPE (FRANCE)',
       'MADEIRA ISLANDS (PORTUGAL)', 'MARTINIQUE (FRANCE)',
       'NETHERLANDS ANTILLES (NETHERLANDS)', 'NEW CALEDONIA (FRANCE)',
       'NORFOLK ISLAND (AUSTRALIA)', 'PUERTO RICO (U.S.A.)',
       'REPUBLIC OF KOREA', 'RUSSIAN FEDERATION (ASIAN SECTOR)',
       'RUSSIAN FEDERATION (EUROPEAN SECTOR)', 'TANZANIA', 'THE BAHAMAS',
       'UNITED STATES OF AMERICA', 'VENEZUELA',
       'WALLIS AND FUTUNA (FRANCE)'], dtype=object)

In [7]:
#Function to perform partial matching of country and return code

def returnCountryCode(c_nm):
    #ignore the value in the () for country name
    c_nm = c_nm.split("(",1)[0]
    c_nm = c_nm.strip()
    c_code = [v for k,v in codes.items() if (c_nm.upper() in k.upper()) or (k.upper() in c_nm.upper())]
    if(c_code):
        return c_code[0]
    else:
        return np.nan

In [12]:
returnCountryCode('REPUBLIC OF KOREA') # test

nan

In [9]:
# Apply partial matching to fix the missing codes
Country_Names['Codes'] = Country_Names['Country'].apply(lambda c: returnCountryCode(c))
Country_Names.head()

,Country,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Codes
0,ALGERIA,1975,8.9,10.3,12.1,16.4,20.7,23.8,28.5,27.8,24.7,18.9,12.8,10.9,DZ
1,ALGERIA,1976,8.6,10.6,11.3,15.8,19.7,24.9,27.5,25.0,24.2,19.0,11.7,11.1,DZ
2,ALGERIA,1977,11.0,12.4,14.8,16.9,20.0,23.0,28.7,26.0,24.0,19.4,14.0,11.7,DZ
3,ALGERIA,1978,9.1,13.1,13.8,16.9,20.0,25.1,28.1,27.8,24.8,17.8,12.6,12.9,DZ
4,ALGERIA,1979,13.0,12.1,14.4,15.0,21.0,26.5,29.3,29.2,23.8,20.0,11.5,10.2,DZ

In [10]:
# What are the remaining missing codes
Country_Names[Country_Names.isnull().any(axis = 1)]['Country'].unique()

array(['BRITISH OVERSEAS TERRITORIES', 'CANARY ISLANDS (SPAIN)',
       'COCOS ISLANDS (AUSTRALIA)', 'CORAL SEA ISLANDS (AUSTRALIA)',
       "COTE D'IVOIRE", 'CZECH REPUBLIC', 'MADEIRA ISLANDS (PORTUGAL)',
       'REPUBLIC OF KOREA'], dtype=object)