## Project :Thermal Warming 

### DATA EXTRACTION & CLEANING
#### Process

- ** Step 1 : Temperature Data Extraction & Cleaning
    - Temperature raw data is extracted from ftp site ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/v3/csv/
    - Columns not required are dropped and Headers & Column names  are added
    - File is saved for further cleaning process
    
- ** Step 2: CO2 Data Extraction
    - The script extracts the CO2 from files obtained from ftp://ftp.cmdl.noaa.gov/data/greenhouse_gases/co2/flask/surface/
    - Only Monthly files have been considered.

- ** Step 3: Aerosol Data Extraction
    - This script extract data from multiple gzip files, cleans and summarises data. Stores in csv files
    - ftp server is ftp://ftp.cmdl.noaa.gov/aerosol
    
- ** Step 4: Total Solar Irradiance Extraction
    - This script gets data from the SORCE project of NASA for Total Solar Irradiance ("http://lasp.colorado.edu/lisird/latis/nrl2_tsi_P1M.json?time%3E=1970-01-01T12:00&format_time(yyyy-DD-MM))
    - Data is request only after 1970 for each month. 
    - The TSI is represented in watts/ sq. meter

### DATA CLEANING PROCESS
- Drop all Data <1975 and Convert  Averages from ‘str’ to float
- Replace missing Temps (in this case they were ‘-9999’ which would skew data) with np.nan
- In case of Temperature, divide Temps by 100 (the format for the temps was Celsius * 100, probably used to avoid handling decimals)
- Summarize weather stations data to country level on year and month
- Remove countries with missing more than 1 year of temp data, in case of temperature
- Recompile and save the data into csv file

In [160]:
# Import all Dependencies
import os
import csv

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np


import time
from calendar import monthrange
from pprint import pprint

import json
from pandas.io.json import json_normalize
import requests
import urllib.request as ur
from ftplib import FTP
import ftplib
import gzip

# Change the print display
from IPython.display import Markdown, display
def printmd(string):
    display(Markdown(string))

### Setting Global options , variables and filepaths

#### Download URLs, Lookup Data paths

In [161]:
# URLs & FTP Sites for data download
temp_ftp_url = "ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/v3/csv/ghcnm.tavg.v3.3.0.20181219.qcu.dat.csv"
co2_ftp_url = "ftp.cmdl.noaa.gov"
aer_ftp_server = "ftp.cmdl.noaa.gov"
tsi_url = "http://lasp.colorado.edu/lisird/latis/nrl2_tsi_P1M.json?time%3E=1970-01-01T12:00&format_time(yyyy-DD-MM)"

# country code mapping file downloaded from ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/v3/
country_cds = "..\data\_rawdata\LookupFiles\country_codes.csv" 

#Aerosol stations data to be read
stations = ['bnd','brw','mlo','smo','spo','sum','thd']


co2_filepath = "..\data\_rawdata\CO2\surface\MonthlyFiles"
co2_CountryFile = "..\data\_rawdata\LookupFiles\CO2_stations_Country_latest.csv"

#### FILE PATHS - To save output files (images, cleaned data )

In [126]:
## FILE PATHS - to save images, data, output
image_dir = "..\images"
clnd_data_dir = "..\data"
_rawdata_dir = "..\data\_rawdata"

# AEROSOL - Create a local directory with Station Code as the dirname
aer_rawdata_path = "..\data\_rawdata\_aerosol"
if not os.path.exists(aer_rawdata_path):
    os.mkdir(aer_rawdata_path)
    
for nm in stations:
    if not os.path.exists(f"{aer_rawdata_path}\_{nm}"):
        os.mkdir(f"{aer_rawdata_path}\_{nm}")
        print(f"Directory _{nm} created")
    else:    
        print(f"Directory _{nm} already exists")

Directory _bnd already exists
Directory _brw already exists
Directory _mlo already exists
Directory _smo already exists
Directory _spo already exists
Directory _sum already exists
Directory _thd already exists

#### Data filenames to be cleaned

In [70]:
temp_datafile = "..\data\_rawdata\Temp\globalTemp_raw.csv"

### HELPER FUNCTIONS

In [93]:
# FTP Helper function for CO2 file extraction
def FTPCopy(ftpserver = '', login = '', dir = '',fromSubFldr = False, partialMtch = '', copypath = '', copyfilename = ''):
    # check for mandatory variables
    try:
        if(ftpserver == '' or copypath == ''):
            raise ValueError
    except ValueError:
        print("FTPCopy function requires details on FTP server," + \
        "copy path and copy file name. Currently one or more values have not been passed")
        return "Function Error"
    
    print(ftpserver)
    # connect to FTP server
    with FTP(ftpserver) as ftp:
        try:
            ftp.login() ## login into ftp server
            if(dir != ''):
                ftp.cwd(dir) # change dir
            
             #set parent dir
            parent_dir = ftp.pwd()
            
            files_list = [] # empty list to capture files / folders in dir
           
            #get list of files
            ftp.retrlines('NLST', files_list.append)
            
            for f in files_list:
                #search for the file whose filename contains a srch string
                if (partialMtch in f):
                    #open local file to write the chunk data from FTP
                    print(f"{copypath}\_{f}")
                    with open(f"{copypath}\_{f}", 'wb') as copyFile:
                        # Define the callback as a closure so it can access the opened 
                        # file in local scope
                        def callback(data):
                            copyFile.write(data)
                    
                        print(f'RETR %s' % f)
                        ftp.retrbinary('RETR %s' % f, callback) #retrieve file in binary to read and write locally
            
            # close ftp connection
            ftp.quit()
        except ftplib.all_errors as e:
            print('FTP error:', e)
        
    return 'Success'

### EXTRACTION PROCESS STARTS....

#### Temperature Data Extraction

In [57]:
# Read temp data from url
req = ur.Request(temp_ftp_url) 
csvfile = ur.urlopen(req)

In [58]:
####################
# Warning
####################
#due to file size over 120M, this step will take over 5 minutes to show result.
df = pd.read_csv(csvfile, header=None, low_memory = False)
print(df)

                 0     1     2     3  4  5  6     7  8  9  ... 41  42    43  \
0       10160355000  1878  TAVG   890        1   950       ...  S   1  1370
1       10160355000  1879  TAVG  1180        1  1170       ...      1  1450
2       10160355000  1880  TAVG   960        1  1110       ...      1  1570
3       10160355000  1931  TAVG -9999            970       ...      1  1550
4       10160355000  1932  TAVG  1010        1   980       ...        -9999
5       10160355000  1933  TAVG -9999          -9999       ...      1  1480
6       10160355000  1934  TAVG  1030        1   970       ...      1  1470
7       10160355000  1935  TAVG   860        1  1090       ...         1490
8       10160355000  1936  TAVG  1310        1  1380       ...      1  1410
9       10160355000  1937  TAVG  1200        1  1250       ...      1  1700
10      10160355000  1938  TAVG  1060        1   900       ...      1  1560
11      10160355000  1939  TAVG  1280        1  1180       ...      1  1530
12      10160355000  1940  TAVG  1110        1  1300       ...      1  1450
13      10160355000  1941  TAVG  1150        1 -9999       ...        -9999
14      10160355000  1966  TAVG -9999          -9999       ...         1330
15      10160355000  1967  TAVG  1000        0  1120       ...      0  1660
16      10160355000  1968  TAVG  1090        0  1230       ...      0  1620
17      10160355000  1969  TAVG  1170        0  1140       ...      0  1610
18      10160355000  1970  TAVG  1290        0  1100       ...  S   0  1480
19      10160355000  1971  TAVG  1160        0  1040       ...      0  1330
20      10160355000  1972  TAVG  1010        0  1280       ...      0  1540
21      10160355000  1973  TAVG  1120        0  1010       ...      0  1400
22      10160355000  1974  TAVG  1220        0  1180       ...      0  1410
23      10160355000  1975  TAVG  1150        0  1090       ...         1390
24      10160355000  1976  TAVG  1020        0  1080       ...         1290
25      10160355000  1977  TAVG  1260        0  1290       ...         1540
26      10160355000  1978  TAVG   990        0  1340       ...      0  1280
27      10160355000  1979  TAVG  1370        0  1280       ...      0  1310
28      10160355000  1980  TAVG  1080        0  1160       ...      0  1550
29      10160355000  1981  TAVG   980        0  1090       ...      0  1460
...             ...   ...   ...   ... .. .. ..   ... .. .. ... ..  ..   ...
471035  80099912001  1980  TAVG   460        0   530       ...      0   770
471036  80099912001  1981  TAVG   710        0   600       ...        -9999
471037  80099913001  1975  TAVG -9999          -9999       ...      G -9999
471038  80099913001  1976  TAVG -9999           1090       ...      G  1220
471039  80099913001  1977  TAVG  1010        G  1070       ...      G  1280
471040  80099913001  1978  TAVG  1030        G  1100       ...      G  1400
471041  80099913001  1979  TAVG  1040        G  1110       ...      G  1370
471042  80099913001  1980  TAVG  1100        G  1100       ...      G  1290
471043  80099913001  1981  TAVG  1210        G  1100       ...      G  1430
471044  80099913001  1982  TAVG  1210        G -9999       ...      G  1200
471045  80099913001  1983  TAVG  1160        G  1050       ...      G  1410
471046  80099913001  1984  TAVG  1100        G  1110       ...      G  1220
471047  80099913001  1985  TAVG  1110        G  1110       ...      G  1290
471048  80099914001  1955  TAVG -9999          -9999       ...      G  2030
471049  80099914001  1956  TAVG  1560        G  1460       ...      G  2030
471050  80099914001  1957  TAVG  1370        G  1360       ...      G  1930
471051  80099914001  1958  TAVG  1500        G  1370       ...      G  2080
471052  80099914001  1959  TAVG  1550        G  1420       ...      G  1820
471053  80099914001  1960  TAVG  1470        G  1410       ...      G  1990
471054  80099914001  1961  TAVG  1460        G  1410       ...      G  2010
471055  80099914001  1962  TAVG  1490        G  1410       ...      G  2040
471056  80099914001  1963  TAVG  1580        G  1290       ...      G  1940
471057  80099914001  1964  TAVG  1480        G  1230       ...      G  1940
471058  80099914001  1965  TAVG  1420        G  1410       ...      G  1960
471059  80099914001  1966  TAVG  1430        G  1460       ...      G  1920
471060  80099914001  1967  TAVG  1520        G  1440       ...      G  1850
471061  80099914001  1968  TAVG  1430        G  1230       ...      G  1860
471062  80099914001  1969  TAVG  1590        G  1510       ...      G  1830
471063  80099914001  1970  TAVG  1410        G  1360       ...      G  1960
471064  80099914001  1971  TAVG  1500        G  1280       ...      G  2000

       44 45  46    47 48 49  50
0              1  1150         1
1              1   900         1
2              1  1290         1
3              1  1060         1
4                -9999
5              1  1130         1
6              1  1330         1
7              1  1250         1
8              1  1080         1
9              1  1100         1
10             1  1230         1
11             1  1250         1
12             1  1080         1
13               -9999
14             0  1100         0
15             0  1070         0
16             0  1280         0
17             0  1080         0
18             0  1140         0
19             0  1120         0
20             0  1190         0
21             0  1210         0
22             0 -9999
23             0  1180         0
24             0  1280         0
25             0  1240         0
26             0  1410         0
27             0  1170         0
28             0   990         0
29             0  1540         0
...    .. ..  ..   ... .. ..  ..
471035         0   650         0
471036           -9999
471037            1130         G
471038         G  1030         G
471039         G  1210         G
471040         G  1150         G
471041         G  1220         G
471042         G  1240         G
471043         G  1210         G
471044         G  1120         G
471045         G  1230         G
471046         G  1190         G
471047         G  1250         G
471048         G  1700         G
471049         G  1490     O   G
471050         G  1840         G
471051         G  1690         G
471052         G  1740         G
471053         G  1760         G
471054         G  1590         G
471055         G  1690         G
471056         G  1690         G
471057         G  1520         G
471058         G  1720         G
471059         G  1690         G
471060         G  1700         G
471061         G  1720         G
471062         G -9999
471063         G  1650         G
471064         G  1700         G

[471065 rows x 51 columns]

In [59]:
#drop columns, specify axis=1 for columns and axis=0 for rows
# These columns are flags and not required for further analysis
df.drop(df.columns[[4,5,6,8,9,10,12,13,14,16,17,18,20,21,22,24,25,26,28,29,30,
                    32,33,34,36,37,38,40,41,42,44,45,46,48,49,50]], axis=1, inplace=True)
print(df)

                 0     1     2     3     7     11    15    19    23    27  \
0       10160355000  1878  TAVG   890   950  1110  1610  1980  2240  2490
1       10160355000  1879  TAVG  1180  1170  1220  1550  1560  2270  2400
2       10160355000  1880  TAVG   960  1110  1240  1520  1710  2070  2580
3       10160355000  1931  TAVG -9999   970 -9999 -9999  1850  2390 -9999
4       10160355000  1932  TAVG  1010   980 -9999  1420  1840 -9999  2290
5       10160355000  1933  TAVG -9999 -9999 -9999 -9999  1870 -9999 -9999
6       10160355000  1934  TAVG  1030   970  1190  1550  1760 -9999  2450
7       10160355000  1935  TAVG   860  1090  1220  1500 -9999  2150 -9999
8       10160355000  1936  TAVG  1310  1380  1360  1550  1320  1950  2370
9       10160355000  1937  TAVG  1200  1250  1450  1470 -9999  2200  2320
10      10160355000  1938  TAVG  1060   900  1100  1320  1680  2160  2390
11      10160355000  1939  TAVG  1280  1180  1160  1470  1550  2010  2390
12      10160355000  1940  TAVG  1110  1300  1430  1470  1740  2000  2250
13      10160355000  1941  TAVG  1150 -9999  1400  1570 -9999 -9999 -9999
14      10160355000  1966  TAVG -9999 -9999 -9999 -9999 -9999 -9999 -9999
15      10160355000  1967  TAVG  1000  1120  1290  1430  1810  1930  2390
16      10160355000  1968  TAVG  1090  1230  1300  1600  1810  2070  2470
17      10160355000  1969  TAVG  1170  1140  1340  1490  1820  1940  2230
18      10160355000  1970  TAVG  1290  1100  1220  1380  1650  2110  2320
19      10160355000  1971  TAVG  1160  1040  1050  1550  1830  2020  2380
20      10160355000  1972  TAVG  1010  1280  1410 -9999  1600  2040  2200
21      10160355000  1973  TAVG  1120  1010  1060  1360  1830  2160  2420
22      10160355000  1974  TAVG  1220  1180  1370  1340  1810  2160 -9999
23      10160355000  1975  TAVG  1150  1090  1190  1360  1670  1920  2400
24      10160355000  1976  TAVG  1020  1080  1180  1450 -9999 -9999 -9999
25      10160355000  1977  TAVG  1260  1290  1330  1480  1770  2030  2320
26      10160355000  1978  TAVG   990  1340 -9999  1380  1690  2060  2310
27      10160355000  1979  TAVG  1370  1280  1270  1300 -9999  2130  2350
28      10160355000  1980  TAVG  1080  1160  1240  1300  1630  2040  2210
29      10160355000  1981  TAVG   980  1090  1390  1580  1770  2090  2250
...             ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
471035  80099912001  1980  TAVG   460   530   510   550   650   870  1110
471036  80099912001  1981  TAVG   710   600   560   560 -9999 -9999 -9999
471037  80099913001  1975  TAVG -9999 -9999 -9999 -9999 -9999 -9999  1680
471038  80099913001  1976  TAVG -9999  1090  1070  1100  1260  1530  1630
471039  80099913001  1977  TAVG  1010  1070  1070  1090  1230  1410  1640
471040  80099913001  1978  TAVG  1030  1100  1090  1080  1230  1340  1570
471041  80099913001  1979  TAVG  1040  1110  1080  1080  1170  1410  1770
471042  80099913001  1980  TAVG  1100  1100  1030  1110  1290  1440  1600
471043  80099913001  1981  TAVG  1210  1100  1180  1180  1200  1430  1690
471044  80099913001  1982  TAVG  1210 -9999  1120  1190  1260  1400  1400
471045  80099913001  1983  TAVG  1160  1050  1140  1000  1140  1450  1660
471046  80099913001  1984  TAVG  1100  1110  1010  1200  1210 -9999 -9999
471047  80099913001  1985  TAVG  1110  1110  1130  1140  1250  1420  1690
471048  80099914001  1955  TAVG -9999 -9999 -9999  1670  1880  2060  2430
471049  80099914001  1956  TAVG  1560  1460  1530  1590  1940  2050  2430
471050  80099914001  1957  TAVG  1370  1360  1370  1580  1640  1810  2240
471051  80099914001  1958  TAVG  1500  1370  1490  1590  1760  2100  2500
471052  80099914001  1959  TAVG  1550  1420  1370  1580  1840  1990  2280
471053  80099914001  1960  TAVG  1470  1410  1430  1660  1710  1930  2420
471054  80099914001  1961  TAVG  1460  1410  1410  1660  1780  2000  2490
471055  80099914001  1962  TAVG  1490  1410  1540  1590  1720  2190  2420
471056  80099914001  1963  TAVG  1580  1290  1430  1480  1710  1890  2310
471057  80099914001  1964  TAVG  1480  1230  1480  1630  1670  1920  2400
471058  80099914001  1965  TAVG  1420  1410  1560  1400  1720  1990 -9999
471059  80099914001  1966  TAVG  1430  1460  1490  1450  1760  2000 -9999
471060  80099914001  1967  TAVG  1520  1440  1370  1490  1580  1940  2440
471061  80099914001  1968  TAVG  1430  1230 -9999  1610  1740  1960  2390
471062  80099914001  1969  TAVG  1590  1510  1420  1640  1970  2070  2460
471063  80099914001  1970  TAVG  1410  1360  1230 -9999  1830  1970 -9999
471064  80099914001  1971  TAVG  1500  1280  1490  1650 -9999  2060  2320

          31    35    39    43    47
0       2680  2320  2680  1370  1150
1       2510  2240  1750  1450   900
2       2570  2290  2060  1570  1290
3       2600  2160  1930  1550  1060
4      -9999  2440 -9999 -9999 -9999
5      -9999 -9999  2160  1480  1130
6       2460  2120  1820  1470  1330
7      -9999  2280 -9999  1490  1250
8       2350  2340  1700  1410  1080
9       2470  2270  1960  1700  1100
10      2420  2270  1960  1560  1230
11      2420  2230  2000  1530  1250
12      2350  2220  1970  1450  1080
13     -9999 -9999 -9999 -9999 -9999
14     -9999 -9999 -9999  1330  1100
15      2550  2250  2010  1660  1070
16      2410  2230  1910  1620  1280
17      2410  2200  1850  1610  1080
18      2490  2330  1470  1480  1140
19      2710  2260  1860  1330  1120
20      2280  2100  1990  1540  1190
21      2460  2350  1870  1400  1210
22      2400  2230  1700  1410 -9999
23      2470  2350 -9999  1390  1180
24     -9999 -9999 -9999  1290  1280
25      2290  2070 -9999  1540  1240
26      2390  2170  1710  1280  1410
27      2400  2090  1910  1310  1170
28      2410  2240  1780  1550   990
29      2340  2290  2000  1460  1540
...      ...   ...   ...   ...   ...
471035  1350 -9999  1050   770   650
471036 -9999 -9999 -9999 -9999 -9999
471037  1750  1620  1520 -9999  1130
471038  1830  1670  1340  1220  1030
471039  1700  1710  1490  1280  1210
471040  1720  1780  1580  1400  1150
471041  1720  1710  1450  1370  1220
471042  1680  1620  1460  1290  1240
471043  1900  1740  1460  1430  1210
471044  1720  1670  1430  1200  1120
471045  1860  1660  1480  1410  1230
471046  1850  1800  1520  1220  1190
471047  1590 -9999  1550  1290  1250
471048  2570  2540  2430  2030  1700
471049  2570  2410  2240  2030  1490
471050  2460  2400  2180  1930  1840
471051  2560  2350  2250  2080  1690
471052  2510  2330  2010  1820  1740
471053  2510  2480  2380  1990  1760
471054  2620  2440  2240  2010  1590
471055  2560  2460  2310  2040  1690
471056 -9999  2450  2260  1940  1690
471057  2580  2530  2310  1940  1520
471058  2470  2560  2370  1960  1720
471059 -9999  2570  2310  1920  1690
471060  2600  2570  2370  1850  1700
471061  2530  2410  2440  1860  1720
471062  2510 -9999  2150  1830 -9999
471063  2590  2430  2250  1960  1650
471064  2320  2450  2210  2000  1700

[471065 rows x 15 columns]

In [60]:
#rename columns
df.columns = ['ID','Year','Type','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
print(df)

                 ID  Year  Type   Jan   Feb   Mar   Apr   May   Jun   Jul  \
0       10160355000  1878  TAVG   890   950  1110  1610  1980  2240  2490
1       10160355000  1879  TAVG  1180  1170  1220  1550  1560  2270  2400
2       10160355000  1880  TAVG   960  1110  1240  1520  1710  2070  2580
3       10160355000  1931  TAVG -9999   970 -9999 -9999  1850  2390 -9999
4       10160355000  1932  TAVG  1010   980 -9999  1420  1840 -9999  2290
5       10160355000  1933  TAVG -9999 -9999 -9999 -9999  1870 -9999 -9999
6       10160355000  1934  TAVG  1030   970  1190  1550  1760 -9999  2450
7       10160355000  1935  TAVG   860  1090  1220  1500 -9999  2150 -9999
8       10160355000  1936  TAVG  1310  1380  1360  1550  1320  1950  2370
9       10160355000  1937  TAVG  1200  1250  1450  1470 -9999  2200  2320
10      10160355000  1938  TAVG  1060   900  1100  1320  1680  2160  2390
11      10160355000  1939  TAVG  1280  1180  1160  1470  1550  2010  2390
12      10160355000  1940  TAVG  1110  1300  1430  1470  1740  2000  2250
13      10160355000  1941  TAVG  1150 -9999  1400  1570 -9999 -9999 -9999
14      10160355000  1966  TAVG -9999 -9999 -9999 -9999 -9999 -9999 -9999
15      10160355000  1967  TAVG  1000  1120  1290  1430  1810  1930  2390
16      10160355000  1968  TAVG  1090  1230  1300  1600  1810  2070  2470
17      10160355000  1969  TAVG  1170  1140  1340  1490  1820  1940  2230
18      10160355000  1970  TAVG  1290  1100  1220  1380  1650  2110  2320
19      10160355000  1971  TAVG  1160  1040  1050  1550  1830  2020  2380
20      10160355000  1972  TAVG  1010  1280  1410 -9999  1600  2040  2200
21      10160355000  1973  TAVG  1120  1010  1060  1360  1830  2160  2420
22      10160355000  1974  TAVG  1220  1180  1370  1340  1810  2160 -9999
23      10160355000  1975  TAVG  1150  1090  1190  1360  1670  1920  2400
24      10160355000  1976  TAVG  1020  1080  1180  1450 -9999 -9999 -9999
25      10160355000  1977  TAVG  1260  1290  1330  1480  1770  2030  2320
26      10160355000  1978  TAVG   990  1340 -9999  1380  1690  2060  2310
27      10160355000  1979  TAVG  1370  1280  1270  1300 -9999  2130  2350
28      10160355000  1980  TAVG  1080  1160  1240  1300  1630  2040  2210
29      10160355000  1981  TAVG   980  1090  1390  1580  1770  2090  2250
...             ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
471035  80099912001  1980  TAVG   460   530   510   550   650   870  1110
471036  80099912001  1981  TAVG   710   600   560   560 -9999 -9999 -9999
471037  80099913001  1975  TAVG -9999 -9999 -9999 -9999 -9999 -9999  1680
471038  80099913001  1976  TAVG -9999  1090  1070  1100  1260  1530  1630
471039  80099913001  1977  TAVG  1010  1070  1070  1090  1230  1410  1640
471040  80099913001  1978  TAVG  1030  1100  1090  1080  1230  1340  1570
471041  80099913001  1979  TAVG  1040  1110  1080  1080  1170  1410  1770
471042  80099913001  1980  TAVG  1100  1100  1030  1110  1290  1440  1600
471043  80099913001  1981  TAVG  1210  1100  1180  1180  1200  1430  1690
471044  80099913001  1982  TAVG  1210 -9999  1120  1190  1260  1400  1400
471045  80099913001  1983  TAVG  1160  1050  1140  1000  1140  1450  1660
471046  80099913001  1984  TAVG  1100  1110  1010  1200  1210 -9999 -9999
471047  80099913001  1985  TAVG  1110  1110  1130  1140  1250  1420  1690
471048  80099914001  1955  TAVG -9999 -9999 -9999  1670  1880  2060  2430
471049  80099914001  1956  TAVG  1560  1460  1530  1590  1940  2050  2430
471050  80099914001  1957  TAVG  1370  1360  1370  1580  1640  1810  2240
471051  80099914001  1958  TAVG  1500  1370  1490  1590  1760  2100  2500
471052  80099914001  1959  TAVG  1550  1420  1370  1580  1840  1990  2280
471053  80099914001  1960  TAVG  1470  1410  1430  1660  1710  1930  2420
471054  80099914001  1961  TAVG  1460  1410  1410  1660  1780  2000  2490
471055  80099914001  1962  TAVG  1490  1410  1540  1590  1720  2190  2420
471056  80099914001  1963  TAVG  1580  1290  1430  1480  1710  1890  2310
471057  80099914001  1964  TAVG  1480  1230  1480  1630  1670  1920  2400
471058  80099914001  1965  TAVG  1420  1410  1560  1400  1720  1990 -9999
471059  80099914001  1966  TAVG  1430  1460  1490  1450  1760  2000 -9999
471060  80099914001  1967  TAVG  1520  1440  1370  1490  1580  1940  2440
471061  80099914001  1968  TAVG  1430  1230 -9999  1610  1740  1960  2390
471062  80099914001  1969  TAVG  1590  1510  1420  1640  1970  2070  2460
471063  80099914001  1970  TAVG  1410  1360  1230 -9999  1830  1970 -9999
471064  80099914001  1971  TAVG  1500  1280  1490  1650 -9999  2060  2320

         Aug   Sep   Oct   Nov   Dec
0       2680  2320  2680  1370  1150
1       2510  2240  1750  1450   900
2       2570  2290  2060  1570  1290
3       2600  2160  1930  1550  1060
4      -9999  2440 -9999 -9999 -9999
5      -9999 -9999  2160  1480  1130
6       2460  2120  1820  1470  1330
7      -9999  2280 -9999  1490  1250
8       2350  2340  1700  1410  1080
9       2470  2270  1960  1700  1100
10      2420  2270  1960  1560  1230
11      2420  2230  2000  1530  1250
12      2350  2220  1970  1450  1080
13     -9999 -9999 -9999 -9999 -9999
14     -9999 -9999 -9999  1330  1100
15      2550  2250  2010  1660  1070
16      2410  2230  1910  1620  1280
17      2410  2200  1850  1610  1080
18      2490  2330  1470  1480  1140
19      2710  2260  1860  1330  1120
20      2280  2100  1990  1540  1190
21      2460  2350  1870  1400  1210
22      2400  2230  1700  1410 -9999
23      2470  2350 -9999  1390  1180
24     -9999 -9999 -9999  1290  1280
25      2290  2070 -9999  1540  1240
26      2390  2170  1710  1280  1410
27      2400  2090  1910  1310  1170
28      2410  2240  1780  1550   990
29      2340  2290  2000  1460  1540
...      ...   ...   ...   ...   ...
471035  1350 -9999  1050   770   650
471036 -9999 -9999 -9999 -9999 -9999
471037  1750  1620  1520 -9999  1130
471038  1830  1670  1340  1220  1030
471039  1700  1710  1490  1280  1210
471040  1720  1780  1580  1400  1150
471041  1720  1710  1450  1370  1220
471042  1680  1620  1460  1290  1240
471043  1900  1740  1460  1430  1210
471044  1720  1670  1430  1200  1120
471045  1860  1660  1480  1410  1230
471046  1850  1800  1520  1220  1190
471047  1590 -9999  1550  1290  1250
471048  2570  2540  2430  2030  1700
471049  2570  2410  2240  2030  1490
471050  2460  2400  2180  1930  1840
471051  2560  2350  2250  2080  1690
471052  2510  2330  2010  1820  1740
471053  2510  2480  2380  1990  1760
471054  2620  2440  2240  2010  1590
471055  2560  2460  2310  2040  1690
471056 -9999  2450  2260  1940  1690
471057  2580  2530  2310  1940  1520
471058  2470  2560  2370  1960  1720
471059 -9999  2570  2310  1920  1690
471060  2600  2570  2370  1850  1700
471061  2530  2410  2440  1860  1720
471062  2510 -9999  2150  1830 -9999
471063  2590  2430  2250  1960  1650
471064  2320  2450  2210  2000  1700

[471065 rows x 15 columns]

In [61]:
#checking each column data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 471065 entries, 0 to 471064
Data columns (total 15 columns):
ID      471065 non-null int64
Year    471065 non-null int64
Type    471065 non-null object
Jan     471065 non-null int64
Feb     471065 non-null int64
Mar     471065 non-null int64
Apr     471065 non-null int64
May     471065 non-null int64
Jun     471065 non-null int64
Jul     471065 non-null int64
Aug     471065 non-null int64
Sep     471065 non-null int64
Oct     471065 non-null int64
Nov     471065 non-null int64
Dec     471065 non-null int64
dtypes: int64(14), object(1)
memory usage: 53.9+ MB

In [62]:
# extract country code from ID Column. The first 3 letters represent country code
df['CountryCode'] = df['ID'].apply(lambda i: str(i)[:3])
df['CountryCode'] = df['CountryCode'].astype(int)

df['StationCode'] = df['ID'].apply(lambda i: str(i)[4:])
df['StationCode'] = df['StationCode'].astype(int)
df.tail()

,ID,Year,Type,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,CountryCode,StationCode
471060,80099914001,1967,TAVG,1520,1440,1370,1490,1580,1940,2440,2600,2570,2370,1850,1700,800,9914001
471061,80099914001,1968,TAVG,1430,1230,-9999,1610,1740,1960,2390,2530,2410,2440,1860,1720,800,9914001
471062,80099914001,1969,TAVG,1590,1510,1420,1640,1970,2070,2460,2510,-9999,2150,1830,-9999,800,9914001
471063,80099914001,1970,TAVG,1410,1360,1230,-9999,1830,1970,-9999,2590,2430,2250,1960,1650,800,9914001
471064,80099914001,1971,TAVG,1500,1280,1490,1650,-9999,2060,2320,2320,2450,2210,2000,1700,800,9914001

### Obtain country from country codes lookup

In [63]:
# Read country names and codes from country_codes.csv file
cntry_cd = pd.read_csv(country_cds, header = None, names = ['CountryCode','Country'])

#change country code to int
cntry_cd['CountryCode'] = cntry_cd['CountryCode'].astype(int)
cntry_cd.head()

   CountryCode       Country
0          101       ALGERIA
1          102        ANGOLA
2          103         BENIN
3          104      BOTSWANA
4          105  BURKINA FASO

### Update temperature raw data with country information

In [64]:
# merge country with temperature dataframe to have country code
temp_withcountry = pd.merge(df, cntry_cd, on = 'CountryCode',how = 'inner')
temp_withcountry.tail()

,ID,Year,Type,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,CountryCode,StationCode,Country
471060,80099914001,1967,TAVG,1520,1440,1370,1490,1580,1940,2440,2600,2570,2370,1850,1700,800,9914001,SHIP STATIONS
471061,80099914001,1968,TAVG,1430,1230,-9999,1610,1740,1960,2390,2530,2410,2440,1860,1720,800,9914001,SHIP STATIONS
471062,80099914001,1969,TAVG,1590,1510,1420,1640,1970,2070,2460,2510,-9999,2150,1830,-9999,800,9914001,SHIP STATIONS
471063,80099914001,1970,TAVG,1410,1360,1230,-9999,1830,1970,-9999,2590,2430,2250,1960,1650,800,9914001,SHIP STATIONS
471064,80099914001,1971,TAVG,1500,1280,1490,1650,-9999,2060,2320,2320,2450,2210,2000,1700,800,9914001,SHIP STATIONS

### Write the Global Raw temperature data to rawdata\Temp folder

In [66]:
#write to csv file
temp_withcountry.to_csv(os.path.join(_rawdata_dir, "Temp\globalTemp_raw.csv"), index = False)

### TEMPERATURE DATA CLEANING

In [71]:
#read csv
avg_temp = pd.read_csv(temp_datafile, low_memory=False)
avg_temp.head()

,ID,Year,Type,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,CountryCode,StationCode,Country
0,10160355000,1878,TAVG,890,950,1110,1610,1980,2240,2490,2680,2320,2680,1370,1150,101,355000,ALGERIA
1,10160355000,1879,TAVG,1180,1170,1220,1550,1560,2270,2400,2510,2240,1750,1450,900,101,355000,ALGERIA
2,10160355000,1880,TAVG,960,1110,1240,1520,1710,2070,2580,2570,2290,2060,1570,1290,101,355000,ALGERIA
3,10160355000,1931,TAVG,-9999,970,-9999,-9999,1850,2390,-9999,2600,2160,1930,1550,1060,101,355000,ALGERIA
4,10160355000,1932,TAVG,1010,980,-9999,1420,1840,-9999,2290,-9999,2440,-9999,-9999,-9999,101,355000,ALGERIA

In [72]:
#convert Year column from str to integer
avg_temp['Year'] = pd.to_numeric(avg_temp['Year'], 'ignore', 'integer')

In [73]:
#drop all years <1970
avg_temp_clean = avg_temp.drop(avg_temp[avg_temp.Year < 1975].index)

In [74]:
#convert temp averages from str to float
avg_temp_clean['Jan'] = pd.to_numeric(avg_temp_clean['Jan'])#, 'ignore', 'float')
avg_temp_clean['Feb'] = pd.to_numeric(avg_temp_clean['Feb'])#, 'ignore', 'float')
avg_temp_clean['Mar'] = pd.to_numeric(avg_temp_clean['Mar'])#, 'ignore', 'float')
avg_temp_clean['Apr'] = pd.to_numeric(avg_temp_clean['Apr'])#, 'ignore', 'float')
avg_temp_clean['May'] = pd.to_numeric(avg_temp_clean['May'])#, 'ignore', 'float')
avg_temp_clean['Jun'] = pd.to_numeric(avg_temp_clean['Jun'])#, 'ignore', 'float')
avg_temp_clean['Jul'] = pd.to_numeric(avg_temp_clean['Jul'])#, 'ignore', 'float')
avg_temp_clean['Aug'] = pd.to_numeric(avg_temp_clean['Aug'])#, 'ignore', 'float')
avg_temp_clean['Sep'] = pd.to_numeric(avg_temp_clean['Sep'])#, 'ignore', 'float')
avg_temp_clean['Oct'] = pd.to_numeric(avg_temp_clean['Oct'])#, 'ignore', 'float')
avg_temp_clean['Nov'] = pd.to_numeric(avg_temp_clean['Nov'])#, 'ignore', 'float')
avg_temp_clean['Dec'] = pd.to_numeric(avg_temp_clean['Dec'])#, 'ignore', 'float')


#drop all values == -9999
#df.replace('-9999', np.nan)
avg_temp_clean = avg_temp_clean.replace(-9999.0, np.nan)

In [75]:
avg_temp_div = avg_temp_clean
avg_temp_div['Jan'] = avg_temp_clean['Jan'].div(100)
avg_temp_div['Feb'] = avg_temp_clean['Feb'].div(100)
avg_temp_div['Mar'] = avg_temp_clean['Mar'].div(100)
avg_temp_div['Apr'] = avg_temp_clean['Apr'].div(100)
avg_temp_div['May'] = avg_temp_clean['May'].div(100)
avg_temp_div['Jun'] = avg_temp_clean['Jun'].div(100)
avg_temp_div['Jul'] = avg_temp_clean['Jul'].div(100)
avg_temp_div['Aug'] = avg_temp_clean['Aug'].div(100)
avg_temp_div['Sep'] = avg_temp_clean['Sep'].div(100)
avg_temp_div['Oct'] = avg_temp_clean['Oct'].div(100)
avg_temp_div['Nov'] = avg_temp_clean['Nov'].div(100)
avg_temp_div['Dec'] = avg_temp_clean['Dec'].div(100)

#avg_temp_div.head()

In [76]:
avg_temp_year = avg_temp_div.groupby(['Country','Year'])[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']].mean()
avg_temp_year_mean = avg_temp_year.fillna(avg_temp_year.mean(axis = 1))
avg_temp_year_mean = np.round(avg_temp_year, decimals=1)
avg_temp_year_mean.head()

                  Jan  Feb   Mar   Apr   May   Jun   Jul   Aug   Sep   Oct  \
Country     Year
AFGHANISTAN 1975  1.0  2.5   9.2  15.6  21.8  28.0  30.0  29.0  23.2  15.0
            1976  4.9  3.6   7.5  15.8  22.9  27.4  29.7  28.6  23.9  16.7
            1977 -3.4  0.3  12.2  16.4  21.0  27.7   NaN  26.2  20.8  15.8
            1978 -1.4  2.4   7.6  12.6  21.6  26.6  28.5  26.4  21.0  15.1
            1979  2.0  4.6   7.5  16.9  17.8  28.1  28.7  25.3  21.6  16.6

                   Nov  Dec
Country     Year
AFGHANISTAN 1975   6.7  4.0
            1976   6.6  3.3
            1977  12.6  NaN
            1978   7.2  6.7
            1979   6.7  4.0

In [77]:
tempDF = avg_temp_year_mean

In [78]:
#reset index, flattened when exported to CSV, however remained indexed within notebook
tempDF = tempDF.reset_index(['Country','Year'])
tempDF.head()

,Country,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,AFGHANISTAN,1975,1.0,2.5,9.2,15.6,21.8,28.0,30.0,29.0,23.2,15.0,6.7,4.0
1,AFGHANISTAN,1976,4.9,3.6,7.5,15.8,22.9,27.4,29.7,28.6,23.9,16.7,6.6,3.3
2,AFGHANISTAN,1977,-3.4,0.3,12.2,16.4,21.0,27.7,NaN,26.2,20.8,15.8,12.6,NaN
3,AFGHANISTAN,1978,-1.4,2.4,7.6,12.6,21.6,26.6,28.5,26.4,21.0,15.1,7.2,6.7
4,AFGHANISTAN,1979,2.0,4.6,7.5,16.9,17.8,28.1,28.7,25.3,21.6,16.6,6.7,4.0

In [79]:
#tempDF = tempDF.loc[tempDF['Year'] >= 1975, :]
tempDF.count()

Country    8296
Year       8296
Jan        7731
Feb        7751
Mar        7746
Apr        7768
May        7748
Jun        7758
Jul        7736
Aug        7735
Sep        7749
Oct        7731
Nov        7712
Dec        7539
dtype: int64

In [80]:
cntry_year = tempDF[['Country','Year']]
cntry_year['tempVal'] = 1
cntry_year.count()

E:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Country    8296
Year       8296
tempVal    8296
dtype: int64

In [81]:
c_pivot = cntry_year.pivot_table(index = 'Country', columns = 'Year', values = 'tempVal')
c_pivot.reset_index(inplace = True)
c_pivot.head(20)

Year,Country,1975,1976,1977,1978,1979,1980,1981,1982,1983,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,AFGHANISTAN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
1,ALBANIA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ALGERIA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,AMERICAN SAMOA (U.S.A.),1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,AMSTERDAM ISLAND (FRANCE),1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
5,ANGOLA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,...,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN
6,ANTARCTICA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,ARGENTINA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,ARGENTINE BASE IN ANTARCTICA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
9,ARMENIA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
10,ASCENSION ISLAND (U.K.),1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
11,AUSTRALIA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
12,AUSTRIA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
13,AZERBAIJAN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,BAHRAIN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
15,BANGLADESH,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0
16,BARBADOS,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
17,BELARUS,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
18,BELAU,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
19,BELGIUM,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [82]:
print(f"Missing values {c_pivot.isnull().values.sum()}")
cntry_year_clean = c_pivot.dropna(how = 'any')
print(f"Missing values {c_pivot.isnull().values.sum()}")
print(f"Count of Countries after removing NA : {cntry_year_clean['Country'].count()}")
cntry_year_clean.head()

Missing values 1560
Missing values 1560
Count of Countries after removing NA : 120

Year,Country,1975,1976,1977,1978,1979,1980,1981,1982,1983,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,ALGERIA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,AMERICAN SAMOA (U.S.A.),1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
6,ANTARCTICA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
7,ARGENTINA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
8,ARGENTINE BASE IN ANTARCTICA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [83]:
cntryList = list(cntry_year_clean['Country'])
len(cntryList)

120

In [84]:
AvgTemp_fnl = tempDF.loc[tempDF['Country'].isin(cntryList), :]

In [86]:
print(f"Unique Countries : {AvgTemp_fnl['Country'].nunique()}")
AvgTemp_fnl.head()

Unique Countries : 120

,Country,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
41,ALGERIA,1975,8.9,10.3,12.1,16.4,20.7,23.8,28.5,27.8,24.7,18.9,12.8,10.9
42,ALGERIA,1976,8.6,10.6,11.3,15.8,19.7,24.9,27.5,25.0,24.2,19.0,11.7,11.1
43,ALGERIA,1977,11.0,12.4,14.8,16.9,20.0,23.0,28.7,26.0,24.0,19.4,14.0,11.7
44,ALGERIA,1978,9.1,13.1,13.8,16.9,20.0,25.1,28.1,27.8,24.8,17.8,12.6,12.9
45,ALGERIA,1979,13.0,12.1,14.4,15.0,21.0,26.5,29.3,29.2,23.8,20.0,11.5,10.2

In [88]:
AvgTemp_fnl = AvgTemp_fnl.interpolate(method='linear', axis=0).ffill().bfill()
AvgTemp_fnl.head(10)

,Country,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
41,ALGERIA,1975,8.9,10.3,12.1,16.4,20.7,23.8,28.5,27.8,24.7,18.9,12.8,10.9
42,ALGERIA,1976,8.6,10.6,11.3,15.8,19.7,24.9,27.5,25.0,24.2,19.0,11.7,11.1
43,ALGERIA,1977,11.0,12.4,14.8,16.9,20.0,23.0,28.7,26.0,24.0,19.4,14.0,11.7
44,ALGERIA,1978,9.1,13.1,13.8,16.9,20.0,25.1,28.1,27.8,24.8,17.8,12.6,12.9
45,ALGERIA,1979,13.0,12.1,14.4,15.0,21.0,26.5,29.3,29.2,23.8,20.0,11.5,10.2
46,ALGERIA,1980,9.2,11.4,14.1,16.2,19.7,26.2,27.8,29.2,25.3,18.6,14.6,7.5
47,ALGERIA,1981,7.2,10.3,16.1,18.6,21.8,26.3,27.4,27.5,25.2,21.1,13.8,12.1
48,ALGERIA,1982,9.6,10.3,12.6,15.9,21.1,26.0,29.7,28.5,24.9,19.2,13.2,8.5
49,ALGERIA,1983,7.5,10.5,13.6,18.4,22.4,25.6,29.2,29.0,25.1,20.3,16.2,10.2
50,ALGERIA,1984,9.0,9.9,13.0,18.6,20.7,26.1,28.3,27.8,24.4,17.6,14.5,10.1

In [89]:
AvgTemp_fnl.to_csv (os.path.join(clnd_data_dir, "NaN_Replaced_Temps.csv"), index = None, header=True)

### ****************** Temperature data cleaned ************************

### CO2 Data Extraction & Cleaning

In [94]:
####################################
# WARNING : Function will take 3 mins to complete
####################################
# Call to helper function FTPCopy to extract files from FTP server to local machine
FTPCopy(ftpserver = co2_ftp_url, dir = 'data/greenhouse_gases/co2/flask/surface', partialMtch = "_month", \
        copypath = co2_filepath)

ftp.cmdl.noaa.gov
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_abp_surface-flask_1_ccgg_month.txt
RETR co2_abp_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_alt_surface-flask_1_ccgg_month.txt
RETR co2_alt_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_ams_surface-flask_1_ccgg_month.txt
RETR co2_ams_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_amy_surface-flask_1_ccgg_month.txt
RETR co2_amy_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_asc_surface-flask_1_ccgg_month.txt
RETR co2_asc_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_ask_surface-flask_1_ccgg_month.txt
RETR co2_ask_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_avi_surface-flask_1_ccgg_month.txt
RETR co2_avi_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_azr_surface-flask_1_ccgg_month.txt
RETR co2_azr_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_bal_surface-flask_1_ccgg_month.txt
RETR co2_bal_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_bhd_surface-flask_1_ccgg_month.txt
RETR co2_bhd_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_bkt_surface-flask_1_ccgg_month.txt
RETR co2_bkt_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_bme_surface-flask_1_ccgg_month.txt
RETR co2_bme_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_bmw_surface-flask_1_ccgg_month.txt
RETR co2_bmw_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_brw_surface-flask_1_ccgg_month.txt
RETR co2_brw_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_bsc_surface-flask_1_ccgg_month.txt
RETR co2_bsc_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_cba_surface-flask_1_ccgg_month.txt
RETR co2_cba_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_cgo_surface-flask_1_ccgg_month.txt
RETR co2_cgo_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_chr_surface-flask_1_ccgg_month.txt
RETR co2_chr_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_cib_surface-flask_1_ccgg_month.txt
RETR co2_cib_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_cmo_surface-flask_1_ccgg_month.txt
RETR co2_cmo_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_cpt_surface-flask_1_ccgg_month.txt
RETR co2_cpt_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_crz_surface-flask_1_ccgg_month.txt
RETR co2_crz_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_drp_surface-flask_1_ccgg_month.txt
RETR co2_drp_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_dsi_surface-flask_1_ccgg_month.txt
RETR co2_dsi_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_eic_surface-flask_1_ccgg_month.txt
RETR co2_eic_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_gmi_surface-flask_1_ccgg_month.txt
RETR co2_gmi_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_goz_surface-flask_1_ccgg_month.txt
RETR co2_goz_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_hba_surface-flask_1_ccgg_month.txt
RETR co2_hba_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_hpb_surface-flask_1_ccgg_month.txt
RETR co2_hpb_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_hun_surface-flask_1_ccgg_month.txt
RETR co2_hun_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_ice_surface-flask_1_ccgg_month.txt
RETR co2_ice_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_izo_surface-flask_1_ccgg_month.txt
RETR co2_izo_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_key_surface-flask_1_ccgg_month.txt
RETR co2_key_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_kum_surface-flask_1_ccgg_month.txt
RETR co2_kum_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_kzd_surface-flask_1_ccgg_month.txt
RETR co2_kzd_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_kzm_surface-flask_1_ccgg_month.txt
RETR co2_kzm_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_lef_surface-flask_1_ccgg_month.txt
RETR co2_lef_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_llb_surface-flask_1_ccgg_month.txt
RETR co2_llb_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_lln_surface-flask_1_ccgg_month.txt
RETR co2_lln_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_lmp_surface-flask_1_ccgg_month.txt
RETR co2_lmp_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_mbc_surface-flask_1_ccgg_month.txt
RETR co2_mbc_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_mex_surface-flask_1_ccgg_month.txt
RETR co2_mex_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_mhd_surface-flask_1_ccgg_month.txt
RETR co2_mhd_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_mid_surface-flask_1_ccgg_month.txt
RETR co2_mid_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_mkn_surface-flask_1_ccgg_month.txt
RETR co2_mkn_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_mlo_surface-flask_1_ccgg_month.txt
RETR co2_mlo_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_nat_surface-flask_1_ccgg_month.txt
RETR co2_nat_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_nmb_surface-flask_1_ccgg_month.txt
RETR co2_nmb_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_nwr_surface-flask_1_ccgg_month.txt
RETR co2_nwr_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_opw_surface-flask_1_ccgg_month.txt
RETR co2_opw_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_oxk_surface-flask_1_ccgg_month.txt
RETR co2_oxk_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pal_surface-flask_1_ccgg_month.txt
RETR co2_pal_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_poc000_surface-flask_1_ccgg_month.txt
RETR co2_poc000_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocn05_surface-flask_1_ccgg_month.txt
RETR co2_pocn05_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocn10_surface-flask_1_ccgg_month.txt
RETR co2_pocn10_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocn15_surface-flask_1_ccgg_month.txt
RETR co2_pocn15_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocn20_surface-flask_1_ccgg_month.txt
RETR co2_pocn20_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocn25_surface-flask_1_ccgg_month.txt
RETR co2_pocn25_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocn30_surface-flask_1_ccgg_month.txt
RETR co2_pocn30_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocs05_surface-flask_1_ccgg_month.txt
RETR co2_pocs05_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocs10_surface-flask_1_ccgg_month.txt
RETR co2_pocs10_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocs15_surface-flask_1_ccgg_month.txt
RETR co2_pocs15_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocs20_surface-flask_1_ccgg_month.txt
RETR co2_pocs20_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocs25_surface-flask_1_ccgg_month.txt
RETR co2_pocs25_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocs30_surface-flask_1_ccgg_month.txt
RETR co2_pocs30_surface-flask_1_ccgg_month.txt

..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pocs35_surface-flask_1_ccgg_month.txt
RETR co2_pocs35_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_psa_surface-flask_1_ccgg_month.txt
RETR co2_psa_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_pta_surface-flask_1_ccgg_month.txt
RETR co2_pta_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_rpb_surface-flask_1_ccgg_month.txt
RETR co2_rpb_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_scsn03_surface-flask_1_ccgg_month.txt
RETR co2_scsn03_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_scsn06_surface-flask_1_ccgg_month.txt
RETR co2_scsn06_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_scsn09_surface-flask_1_ccgg_month.txt
RETR co2_scsn09_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_scsn12_surface-flask_1_ccgg_month.txt
RETR co2_scsn12_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_scsn15_surface-flask_1_ccgg_month.txt
RETR co2_scsn15_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_scsn18_surface-flask_1_ccgg_month.txt
RETR co2_scsn18_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_scsn21_surface-flask_1_ccgg_month.txt
RETR co2_scsn21_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_sdz_surface-flask_1_ccgg_month.txt
RETR co2_sdz_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_sey_surface-flask_1_ccgg_month.txt
RETR co2_sey_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_sgp_surface-flask_1_ccgg_month.txt
RETR co2_sgp_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_shm_surface-flask_1_ccgg_month.txt
RETR co2_shm_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_smo_surface-flask_1_ccgg_month.txt
RETR co2_smo_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_spo_surface-flask_1_ccgg_month.txt
RETR co2_spo_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_stc_surface-flask_1_ccgg_month.txt
RETR co2_stc_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_stm_surface-flask_1_ccgg_month.txt
RETR co2_stm_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_sum_surface-flask_1_ccgg_month.txt
RETR co2_sum_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_syo_surface-flask_1_ccgg_month.txt
RETR co2_syo_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_tap_surface-flask_1_ccgg_month.txt
RETR co2_tap_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_thd_surface-flask_1_ccgg_month.txt
RETR co2_thd_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_tik_surface-flask_1_ccgg_month.txt
RETR co2_tik_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_ush_surface-flask_1_ccgg_month.txt
RETR co2_ush_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_uta_surface-flask_1_ccgg_month.txt
RETR co2_uta_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_uum_surface-flask_1_ccgg_month.txt
RETR co2_uum_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_wis_surface-flask_1_ccgg_month.txt
RETR co2_wis_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_wlg_surface-flask_1_ccgg_month.txt
RETR co2_wlg_surface-flask_1_ccgg_month.txt
..\data\_rawdata\CO2\surface\MonthlyFiles\_co2_zep_surface-flask_1_ccgg_month.txt
RETR co2_zep_surface-flask_1_ccgg_month.txt

'Success'

In [97]:
################### Obtain the num of files to be read #######################################
fileList = []
# Read the dir and list the name of the files
for root, dirs, files in os.walk(co2_filepath):
    if(files):
        for name in files:
            if(name not in fileList):
                fileList.append(name)

        print(f"Data has to be extracted from {len(fileList)} files")
    else:
        print("No files present to extract data. Copy files from FTP to proceed further")

Data has been extracted from 95 files

### Read data from each CO2 monthly files and load it into a dataframe

In [101]:
txtData = []
CO2Data = pd.DataFrame()

for i, f in enumerate(fileList):
    with(open(f"{co2_filepath}\{f}", "r")) as txtFile:
        txtData = txtFile.read().splitlines()
    
    # DAta is space delimited format. But not uniform. 
    # Change spaces to , and split field values by commas
    tmpList = [l.replace(" ",",") for l in txtData[int(txtData[0].rsplit(" ", 1)[1]):]]
    tmpList = [l.split(",") for l in tmpList]
    
    # add data to dataframe
    CO2Data = CO2Data.append(tmpList)



#Format the values and correct incorrect split of data    
CO2Data['month'] = CO2Data[2].add(CO2Data[3], fill_value = 0)
CO2Data['month'] = CO2Data['month'].add(CO2Data[4], fill_value = 0)
CO2Data[[5,6]] = CO2Data[[5,6]].apply(pd.to_numeric)
CO2Data['CO2Value'] = CO2Data[5].add(CO2Data[6], fill_value = 0)

# Drop cols not needed
CO2Data = CO2Data.drop([2,3,4,5,6], axis = 1)

# Change column names, and data types
CO2Data.rename(columns = {0 : 'Code',1 : 'year'}, inplace = True)

#convert all number columns to numeric datatype
CO2Data[['CO2Value','year','month']] = CO2Data[['CO2Value','year','month']].apply(pd.to_numeric)


CO2Data.head()

  Code  year  month  CO2Value
0  ABP  2006     10    380.72
1  ABP  2006     11    380.82
2  ABP  2006     12    380.92
3  ABP  2007      1    381.02
4  ABP  2007      2    381.09

In [103]:
# Remove all data before 1970.
CO2Data = CO2Data.loc[CO2Data['year']>= 1975,:]

print(f"data from {CO2Data['year'].min()} to {CO2Data['year'].max()}")

data from 1975 to 2017

In [104]:
#Reshape data to be same as Temp view
CO2Data_fnl = CO2Data.pivot_table('CO2Value', ['Code','year'], 'month')

CO2Data_fnl = CO2Data_fnl.reset_index()


CO2Data_fnl.rename_axis("", axis = 1, inplace = True)

mnth_names = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov', 12:'Dec'}
CO2Data_fnl.rename(columns = mnth_names, inplace = True)

CO2Data_fnl.head()

,Code,year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,000,1987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,349.66,NaN,NaN,NaN
1,000,1988,351.31,352.37,353.04,353.35,353.30,353.05,352.68,352.29,NaN,NaN,NaN,NaN
2,000,1989,354.37,355.10,355.46,355.34,354.93,354.38,353.86,353.47,353.19,353.17,353.46,354.11
3,000,1990,354.88,355.47,355.86,356.00,355.96,355.76,355.39,354.85,354.32,354.08,354.28,354.94
4,000,1991,355.71,356.40,356.87,357.04,356.94,356.64,356.18,355.51,354.88,354.61,354.82,355.46

In [107]:
#Fix Missing Values - with avgs of NAN row
CO2Data_clean = CO2Data_fnl

rowMean = CO2Data_clean[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov', 'Dec']].mean(axis = 1)


CO2Data_clean = CO2Data_clean.apply(lambda r: r.fillna(rowMean[r.index]))

CO2Data_clean = CO2Data_clean.round(decimals = 2)

#Check if NAN exists
printmd(f"#### Num of duplicates is {CO2Data_clean.isnull().values.sum()}")

CO2Data_clean.head()

#### Num of duplicates is 0

,Code,year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,000,1987,349.66,349.66,349.66,349.66,349.66,349.66,349.66,349.66,349.66,349.66,349.66,349.66
1,000,1988,351.31,352.37,353.04,353.35,353.30,353.05,352.68,352.29,352.67,352.67,352.67,352.67
2,000,1989,354.37,355.10,355.46,355.34,354.93,354.38,353.86,353.47,353.19,353.17,353.46,354.11
3,000,1990,354.88,355.47,355.86,356.00,355.96,355.76,355.39,354.85,354.32,354.08,354.28,354.94
4,000,1991,355.71,356.40,356.87,357.04,356.94,356.64,356.18,355.51,354.88,354.61,354.82,355.46

In [108]:
# Lookup Country and Add it to CO2 Data
ctry_stat = pd.read_csv(co2_CountryFile)
ctry_stat.head()

,Code,Name,Country,Latitude,Longitude,Elevation (meters),Time from GMT
0,AAO,"Airborne Aerosol Observatory, Bondville, Illinois",United States,40.050,-88.370,230.0,-6 hours
1,ABP,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
2,ABQ,"Albuquerque, New Mexico",United States,35.038,-106.622,1617.0,-7 hours
3,ACG,Alaska Coast Guard,United States,65.000,-165.000,0.0,-8 hours
4,ALT,"Alert, Nunavut",Canada,82.451,-62.507,190.0,-4 hours

In [109]:
# Merge on Station Code for details about the station
CO2Data_Full = pd.merge(CO2Data_clean, ctry_stat, how = 'inner', on = 'Code')
CO2Data_Full.head()

,Code,year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Name,Country,Latitude,Longitude,Elevation (meters),Time from GMT
0,ABP,2006,380.82,380.82,380.82,380.82,380.82,380.82,380.82,380.82,380.82,380.72,380.82,380.92,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
1,ABP,2007,381.02,381.09,380.99,380.89,381.15,381.82,382.26,382.19,382.34,381.53,381.53,381.53,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
2,ABP,2008,384.23,384.23,383.02,382.64,382.83,383.83,384.34,384.20,384.77,385.46,385.64,385.56,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
3,ABP,2009,384.85,385.28,386.19,385.20,384.39,385.18,385.67,386.08,386.20,386.18,386.59,386.81,"Arembepe, Bahia",Brazil,-12.770,-38.170,1.0,-3 hours
4,ALT,1985,344.06,344.06,344.06,344.06,344.06,349.94,343.98,337.96,339.09,342.85,345.66,348.97,"Alert, Nunavut",Canada,82.451,-62.507,190.0,-4 hours

In [110]:
# Roll up stations to Country

CO2Data_Cntry_GDF = CO2Data_Full[['Code','year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep',\
                                  'Oct','Nov','Dec','Country']].groupby(['year','Country']).agg(np.mean)

CO2Data_Cntry_GDF.reset_index(inplace= True)

CO2Data_Cntry_GDF = CO2Data_Cntry_GDF.round(decimals = 2)

CO2Data_Cntry_GDF.head()

,year,Country,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1975,American Samoa,330.65,330.65,330.20,329.63,329.66,330.60,330.83,330.91,331.79,331.64,330.88,330.56
1,1975,United States,333.32,333.24,333.22,333.30,333.16,332.18,329.34,327.23,327.44,329.78,331.89,333.15
2,1976,American Samoa,330.52,330.60,330.82,331.17,331.42,331.10,330.98,331.53,331.90,332.17,332.62,332.95
3,1976,United States,332.56,332.80,333.28,334.17,334.15,332.84,331.08,329.01,328.64,329.98,331.74,333.10
4,1977,American Samoa,332.98,332.48,332.21,332.66,332.82,332.56,332.81,332.91,332.62,332.57,333.01,333.68

In [111]:
# Roll up stations to Global level

CO2Data_glb_GDF = CO2Data_Full[['year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep',\
                                  'Oct','Nov','Dec']].groupby(['year']).agg(np.mean)

CO2Data_glb_GDF.reset_index(inplace= True)

CO2Data_glb_GDF = CO2Data_glb_GDF.round(decimals = 2)

CO2Data_glb_GDF.head()

,year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1975,332.43,332.38,332.21,332.08,331.99,331.65,329.84,328.45,328.89,330.40,331.55,332.29
1,1976,332.26,332.49,332.93,333.74,333.76,332.59,331.06,329.37,329.10,330.30,331.87,333.08
2,1977,333.94,334.30,334.73,335.59,335.93,334.96,333.34,331.67,330.96,331.78,333.53,334.95
3,1978,335.66,336.13,336.54,336.88,337.07,336.66,334.92,333.05,332.72,333.68,335.20,336.13
4,1979,337.40,337.90,338.65,339.11,339.25,338.33,336.09,334.40,334.50,335.80,337.08,337.80

In [112]:
#Rename Columns to Standard maintained by other files
CO2Data_Full.rename(columns = {'year':'Year'}, inplace = True)
CO2Data_Cntry_GDF.rename(columns = {'year':'Year'}, inplace = True)
CO2Data_glb_GDF.rename(columns = {'year':'Year'}, inplace = True)

In [113]:
#Output to csv folder
CO2Data_Full.to_csv("..\data\CO2_RawData.csv", index = False)  ## Entire Raw DAta with stations

CO2Data_Cntry_GDF.to_csv("..\data\CO2_BYCountry.csv", index = False) ## Grouped by Country

CO2Data_glb_GDF.to_csv("..\data\CO2_GlobalSummary.csv", index = False) ## Values rolled up to global level

### ****************** CO2 data cleaned ************************

### AEROSOL DATA Extraction and Cleaning

#### Copy files from AEROSOL FTP Server

########################################
######## WARNING : COPYING FILES WILL TAKE 5 mins or more
########################################

In [123]:
for s in stations:
    # Open FTP Server and read the folder
    with FTP(aer_ftp_server) as ftp:
        try:
            ftp.login() ## login into ftp server
            ftp.cwd("aerosol/"+s) # change directory to the relevant station's dir

            #set parent dir
            parent_dir = ftp.pwd() # make sure parent directory is saved

            years = [] # list to capture the num of years records are available

            #get list of files
            ftp.retrlines('NLST', years.append)

            #browse through each year to obtain the .gzip raw data for particle aerosol concentration
            for y in years:
                ftp.cwd(y) # go to specific year dir
                print(ftp.pwd()) # print the current directory

                files = [] #get the list of files from the dir

                ftp.retrlines('NLST', files.append)

                #search for the file specific to particle concentration and ignore others
                filenm = ""
                filenm = [f for f in files if "particle_number_concentration" in f]

                print(filenm) #print filenm - empty if not present
                
                #if the filenm is present then copy to local drive
                if( filenm):
                    #open local gzip file to write the chunk data from FTP
                    with open(f"..\data\_rawdata\_aerosol\_{s}\{y}{s}_conc.gz", 'wb') as f:
                        # Define the callback as a closure so it can access the opened 
                        # file in local scope
                        def callback(data):
                            f.write(data)
                
                        ftp.retrbinary('RETR %s' % filenm[0], callback) #retrieve file in binary to read and write locally
                
                #change to parent dir to access next year
                ftp.cwd(parent_dir)
            
            # close ftp connection
            ftp.quit()

        except ftplib.all_errors as e:
            print('FTP error:', e)

printmd("### Successfully copied all files locally")

/data/aer/bnd/1994
['US0035R.19940714000000.20171019222346.particle_number_concentration.aerosol.171d.1h.lev2.nas.gz']
/data/aer/bnd/1995
['US0035R.19950101000000.20171019222411.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/bnd/1996
['US0035R.19960101000000.20171019222445.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/bnd/1997
['US0035R.19970101000000.20171019222535.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/bnd/1998
['US0035R.19980101000000.20171019222649.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/bnd/1999
['US0035R.19990101000000.20171019222758.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/bnd/2000
['US0035R.20000101000000.20171019222910.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/bnd/2001
['US0035R.20010101000000.20171019223019.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/bnd/2002
['US0035R.20020101000000.20171019223140.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/bnd/2003
['US0035R.20030101000000.20180624025937.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/bnd/2004
['US0035R.20040101000000.20171019223427.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/bnd/2005
['US0035R.20050101000000.20180624030040.particle_number_concentration.aerosol.179d.1h.lev2.nas.gz', 'US0035R.20050629000000.20180624030040.particle_number_concentration.aerosol.186d.1h.lev2.nas.gz']
/data/aer/bnd/2006
['US0035R.20060101000000.20171019223707.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/bnd/2007
['US0035R.20070101000000.20171019223824.particle_number_concentration.aerosol.283d.1h.lev2.nas.gz', 'US0035R.20071011000000.20171019223824.particle_number_concentration.aerosol.82d.1h.lev2.nas.gz']
/data/aer/bnd/2008
['US0035R.20080101000000.20171019223938.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/bnd/2009
['US0035R.20090101000000.20171019224104.particle_number_concentration.aerosol.222d.1h.lev2.nas.gz', 'US0035R.20090811000000.20171019224104.particle_number_concentration.aerosol.143d.1h.lev2.nas.gz']
/data/aer/bnd/2010
['US0035R.20100101000000.20171019224229.particle_number_concentration.aerosol.5349h.1h.lev2.nas.gz', 'US0035R.20100811210000.20171019224229.particle_number_concentration.aerosol.3411h.1h.lev2.nas.gz']
/data/aer/bnd/2011
['US0035R.20110101000000.20171019224358.particle_number_concentration.aerosol.5296h.1h.lev2.nas.gz', 'US0035R.20110809160000.20171019224358.particle_number_concentration.aerosol.3464h.1h.lev2.nas.gz']
/data/aer/bnd/2012
['US0035R.20120101000000.20171019224519.particle_number_concentration.aerosol.1981h.1h.lev2.nas.gz', 'US0035R.20120323130000.20171019224519.particle_number_concentration.aerosol.6803h.1h.lev2.nas.gz']
/data/aer/bnd/2013
['US0035R.20130101000000.20171019224648.particle_number_concentration.aerosol.2372h.1h.lev2.nas.gz', 'US0035R.20130409200000.20171019224648.particle_number_concentration.aerosol.6388h.1h.lev2.nas.gz']
/data/aer/bnd/2014
['US0035R.20140101000000.20171019224813.particle_number_concentration.aerosol.688h.1h.lev2.nas.gz', 'US0035R.20140129160000.20171019224813.particle_number_concentration.aerosol.3220h.1h.lev2.nas.gz', 'US0035R.20140612200000.20171019224813.particle_number_concentration.aerosol.4852h.1h.lev2.nas.gz']
/data/aer/bnd/2015
['US0035R.20150101000000.20171019224938.particle_number_concentration.aerosol.525h.1h.lev2.nas.gz', 'US0035R.20150122210000.20171019224938.particle_number_concentration.aerosol.8235h.1h.lev2.nas.gz']
/data/aer/bnd/2016
['US0035R.20160101000000.20171019225125.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/bnd/2017
['US0035R.20170101000000.20180121051054.particle_number_concentration.aerosol.1938h.1h.lev2.nas.gz', 'US0035R.20170322180000.20180121051054.particle_number_concentration.aerosol.1867h.1h.lev2.nas.gz', 'US0035R.20170608130000.20180121051054.particle_number_concentration.aerosol.4859h.1h.lev2.nas.gz']
/data/aer/brw/1976
['US0008R.19760507000000.20171019225309.particle_number_concentration.aerosol.239d.1h.lev2.nas.gz']
/data/aer/brw/1977
['US0008R.19770101000000.20171019225338.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1978
['US0008R.19780101000000.20171019225414.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1979
['US0008R.19790101000000.20171019225448.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1980
['US0008R.19800101000000.20171019225523.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/brw/1981
['US0008R.19810101000000.20171019225557.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1982
['US0008R.19820101000000.20171019225632.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1983
['US0008R.19830101000000.20171019225708.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1984
['US0008R.19840101000000.20171019225744.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/brw/1985
['US0008R.19850101000000.20171019225818.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1986
['US0008R.19860101000000.20171019225854.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1987
['US0008R.19870101000000.20171019225928.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1988
['US0008R.19880101000000.20171019230003.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/brw/1989
['US0008R.19890101000000.20171019230040.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1990
['US0008R.19900101000000.20171019230114.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1991
['US0008R.19910101000000.20171019230149.particle_number_concentration.aerosol.89d.1h.lev2.nas.gz', 'US0008R.19910331000000.20171019230149.particle_number_concentration.aerosol.276d.1h.lev2.nas.gz']
/data/aer/brw/1992
['US0008R.19920101000000.20171019230225.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/brw/1993
['US0008R.19930101000000.20171019230300.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1994
['US0008R.19940101000000.20171019230337.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1995
['US0008R.19950101000000.20171019230414.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1996
['US0008R.19960101000000.20171019230451.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/brw/1997
['US0008R.19970101000000.20171019230527.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1998
['US0008R.19980101000000.20171019230613.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/1999
['US0008R.19990101000000.20171019230713.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2000
['US0008R.20000101000000.20171019230746.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/brw/2001
['US0008R.20010101000000.20171019230848.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2002
['US0008R.20020101000000.20171019230948.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2003
['US0008R.20030101000000.20171019231051.particle_number_concentration.aerosol.229d.1h.lev2.nas.gz', 'US0008R.20030818000000.20171019231051.particle_number_concentration.aerosol.136d.1h.lev2.nas.gz']
/data/aer/brw/2004
['US0008R.20040101000000.20171019231154.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/brw/2005
['US0008R.20050101000000.20171019231258.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2006
['US0008R.20060101000000.20171019231405.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2007
['US0008R.20070101000000.20171019231510.particle_number_concentration.aerosol.80d.1h.lev2.nas.gz', 'US0008R.20070322000000.20171019231510.particle_number_concentration.aerosol.91d.1h.lev2.nas.gz', 'US0008R.20070621000000.20171019231510.particle_number_concentration.aerosol.81d.1h.lev2.nas.gz', 'US0008R.20070910000000.20171019231510.particle_number_concentration.aerosol.113d.1h.lev2.nas.gz']

/data/aer/brw/2008
['US0008R.20080101000000.20171019231630.particle_number_concentration.aerosol.70d.1h.lev2.nas.gz', 'US0008R.20080311000000.20171019231630.particle_number_concentration.aerosol.296d.1h.lev2.nas.gz']
/data/aer/brw/2009
['US0008R.20090101000000.20171019231739.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2010
['US0008R.20100101000000.20171019231852.particle_number_concentration.aerosol.95d.1h.lev2.nas.gz', 'US0008R.20100406000000.20171019231852.particle_number_concentration.aerosol.270d.1h.lev2.nas.gz']
/data/aer/brw/2011
['US0008R.20110101000000.20171019232003.particle_number_concentration.aerosol.37d.1h.lev2.nas.gz', 'US0008R.20110207000000.20171019232003.particle_number_concentration.aerosol.4914h.1h.lev2.nas.gz', 'US0008R.20110830180000.20171019232003.particle_number_concentration.aerosol.2958h.1h.lev2.nas.gz']
/data/aer/brw/2012
['US0008R.20120101000000.20171019232122.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/brw/2013
['US0008R.20130101000000.20180624030143.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2014
['US0008R.20140101000000.20180624030246.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2015
['US0008R.20150101000000.20171019232515.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2016
['US0008R.20160101000000.20171203053700.particle_number_concentration.aerosol.5538h.1h.lev2.nas.gz', 'US0008R.20160818180000.20171203053700.particle_number_concentration.aerosol.117h.1h.lev2.nas.gz', 'US0008R.20160823150000.20171203053700.particle_number_concentration.aerosol.3129h.1h.lev2.nas.gz']
/data/aer/brw/2017
['US0008R.20170101000000.20180107033924.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/brw/2018
['US0008R.20180101000000.20190113041839.particle_number_concentration.aerosol.3766h.1h.lev2.nas.gz', 'US0008R.20180606220000.20190113041839.particle_number_concentration.aerosol.2371h.1h.lev2.nas.gz', 'US0008R.20180913170000.20190113041839.particle_number_concentration.aerosol.2623h.1h.lev2.nas.gz']
FTP error: 550 Failed to change directory.
/data/aer/mlo/1974
['US1200R.19740124000000.20171019232822.particle_number_concentration.aerosol.342d.1h.lev2.nas.gz']
/data/aer/mlo/1975
['US1200R.19750101000000.20171019232900.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1976
['US1200R.19760101000000.20171019232940.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/mlo/1977
['US1200R.19770101000000.20171019233022.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1978
['US1200R.19780101000000.20171019233103.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1979
['US1200R.19790101000000.20171019233143.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1980
['US1200R.19800101000000.20171019233223.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/mlo/1981
['US1200R.19810101000000.20171019233304.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1982
['US1200R.19820101000000.20171019233343.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1983
['US1200R.19830101000000.20171019233421.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1984
['US1200R.19840101000000.20171019233459.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/mlo/1985
['US1200R.19850101000000.20171019233537.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1986
['US1200R.19860101000000.20171019233615.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1987
['US1200R.19870101000000.20171019233656.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1988
['US1200R.19880101000000.20171019233736.particle_number_concentration.aerosol.152d.1h.lev2.nas.gz', 'US1200R.19880601000000.20171019233736.particle_number_concentration.aerosol.214d.1h.lev2.nas.gz']
/data/aer/mlo/1989
['US1200R.19890101000000.20171019233815.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1990
['US1200R.19900101000000.20171019233855.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1991
['US1200R.19910101000000.20171019233934.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1992
['US1200R.19920101000000.20171019234013.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/mlo/1993
['US1200R.19930101000000.20171019234053.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1994
['US1200R.19940101000000.20171019234134.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1995
['US1200R.19950101000000.20171019234217.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1996
['US1200R.19960101000000.20171019234300.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/mlo/1997
['US1200R.19970101000000.20171019234342.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1998
['US1200R.19980101000000.20171019234423.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/1999
['US1200R.19990101000000.20171019234503.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2000
['US1200R.20000101000000.20171019234549.particle_number_concentration.aerosol.97d.1h.lev2.nas.gz', 'US1200R.20000407000000.20171019234549.particle_number_concentration.aerosol.269d.1h.lev2.nas.gz']
/data/aer/mlo/2001
['US1200R.20010101000000.20171019234653.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2002
['US1200R.20020101000000.20180624030352.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2003
['US1200R.20030101000000.20171019234916.particle_number_concentration.aerosol.70d.1h.lev2.nas.gz', 'US1200R.20030312000000.20171019234916.particle_number_concentration.aerosol.295d.1h.lev2.nas.gz']
/data/aer/mlo/2004
['US1200R.20040101000000.20180624030452.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/mlo/2005
['US1200R.20050101000000.20171019235149.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2006
['US1200R.20060101000000.20171019235309.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2007
['US1200R.20070101000000.20171019235424.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2008
['US1200R.20080101000000.20171019235540.particle_number_concentration.aerosol.339d.1h.lev2.nas.gz', 'US1200R.20081205000000.20171019235540.particle_number_concentration.aerosol.27d.1h.lev2.nas.gz']
/data/aer/mlo/2009
['US1200R.20090101000000.20180624030555.particle_number_concentration.aerosol.5d.1h.lev2.nas.gz', 'US1200R.20090106000000.20180624030555.particle_number_concentration.aerosol.360d.1h.lev2.nas.gz']
/data/aer/mlo/2010
['US1200R.20100101000000.20171019235820.particle_number_concentration.aerosol.77d.1h.lev2.nas.gz', 'US1200R.20100319000000.20171019235820.particle_number_concentration.aerosol.288d.1h.lev2.nas.gz']
/data/aer/mlo/2011
['US1200R.20110101000000.20171019235938.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2012
['US1200R.20120101000000.20171020000102.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/mlo/2013
['US1200R.20130101000000.20171020000227.particle_number_concentration.aerosol.863h.1h.lev2.nas.gz', 'US1200R.20130205230000.20171020000227.particle_number_concentration.aerosol.7897h.1h.lev2.nas.gz']
/data/aer/mlo/2014
['US1200R.20140101000000.20171020000352.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2015
['US1200R.20150101000000.20171020000516.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/mlo/2016
['US1200R.20160101000000.20171020000703.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/mlo/2017
['US1200R.20170101000000.20180121051201.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1974
[]
/data/aer/smo/1975
[]
/data/aer/smo/1976
[]
/data/aer/smo/1977
['US6001R.19770725000000.20171020000907.particle_number_concentration.aerosol.160d.1h.lev2.nas.gz']
/data/aer/smo/1978

['US6001R.19780101000000.20171020000922.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1979
['US6001R.19790101000000.20171020000940.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1980
['US6001R.19800101000000.20171020000956.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/smo/1981
['US6001R.19810101000000.20171020001008.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1982
['US6001R.19820101000000.20171020001029.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1983
['US6001R.19830101000000.20171020001050.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1984
['US6001R.19840101000000.20171020001112.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/smo/1985
['US6001R.19850101000000.20171020001132.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1986
['US6001R.19860101000000.20171020001153.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1987
['US6001R.19870101000000.20171020001214.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1988
['US6001R.19880101000000.20171020001234.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/smo/1989
['US6001R.19890101000000.20171020001255.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1990
['US6001R.19900101000000.20171020001316.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1991
['US6001R.19910101000000.20171020001337.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1992
['US6001R.19920101000000.20171020001352.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/smo/1993
[]
/data/aer/smo/1994
['US6001R.19940101000000.20171020001412.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1995
['US6001R.19950113000000.20171020001423.particle_number_concentration.aerosol.353d.1h.lev2.nas.gz']
/data/aer/smo/1996
['US6001R.19960101000000.20171020001436.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/smo/1997
['US6001R.19970101000000.20171020001449.particle_number_concentration.aerosol.180d.1h.lev2.nas.gz', 'US6001R.19970630000000.20171020001449.particle_number_concentration.aerosol.185d.1h.lev2.nas.gz']
/data/aer/smo/1998
['US6001R.19980101000000.20171020001500.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/1999
['US6001R.19990101000000.20171020001511.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/2000
[]
/data/aer/smo/2001
[]
/data/aer/smo/2002
[]
/data/aer/smo/2003
[]
/data/aer/smo/2004
['US6001R.20040101000000.20171020001555.particle_number_concentration.aerosol.52d.1h.lev2.nas.gz', 'US6001R.20040222000000.20171020001555.particle_number_concentration.aerosol.314d.1h.lev2.nas.gz']
/data/aer/smo/2005
['US6001R.20050101000000.20171020001607.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/2006
['US6001R.20060101000000.20171020001620.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/2007
['US6001R.20070101000000.20171020001633.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/2008
['US6001R.20080101000000.20171020001646.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/smo/2009
['US6001R.20090101000000.20171020001659.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/2010
['US6001R.20100101000000.20171020001712.particle_number_concentration.aerosol.77d.1h.lev2.nas.gz', 'US6001R.20100319000000.20171020001712.particle_number_concentration.aerosol.279d.1h.lev2.nas.gz', 'US6001R.20101223000000.20171020001712.particle_number_concentration.aerosol.9d.1h.lev2.nas.gz']
/data/aer/smo/2011
['US6001R.20110101000000.20171020001724.particle_number_concentration.aerosol.91d.1h.lev2.nas.gz', 'US6001R.20110402000000.20171020001724.particle_number_concentration.aerosol.274d.1h.lev2.nas.gz']
/data/aer/smo/2012
['US6001R.20120101000000.20171020001737.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/smo/2013
['US6001R.20130101000000.20171020001749.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/2014
['US6001R.20140101000000.20171020001802.particle_number_concentration.aerosol.97h.1h.lev2.nas.gz', 'US6001R.20140105010000.20171020001802.particle_number_concentration.aerosol.8663h.1h.lev2.nas.gz']
/data/aer/smo/2015
['US6001R.20150101000000.20171020001814.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/smo/2016
['US6001R.20160101000000.20171020001828.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/spo/1974
[]
/data/aer/spo/1975
[]
/data/aer/spo/1976
[]
/data/aer/spo/1977
[]
/data/aer/spo/1978
[]
/data/aer/spo/1979
[]
/data/aer/spo/1980
[]
/data/aer/spo/1981
[]
/data/aer/spo/1982
[]
/data/aer/spo/1983
[]
/data/aer/spo/1984
[]
/data/aer/spo/1985
[]
/data/aer/spo/1986
[]
/data/aer/spo/1987
[]
/data/aer/spo/1988
[]
/data/aer/spo/1989
[]
/data/aer/spo/1990
[]
/data/aer/spo/1991
[]
/data/aer/spo/1992
[]
/data/aer/spo/1993
[]
/data/aer/spo/1994
[]
/data/aer/spo/1995
[]
/data/aer/spo/1996
[]
/data/aer/spo/1997
[]
/data/aer/spo/1998
[]
/data/aer/spo/1999
[]
/data/aer/spo/2000
[]
/data/aer/spo/2001
[]
/data/aer/spo/2002
[]
/data/aer/spo/2003
[]
/data/aer/spo/2004
[]
/data/aer/spo/2005
[]
/data/aer/spo/2006
[]
/data/aer/spo/2007
[]
/data/aer/spo/2008
[]
/data/aer/spo/2009
[]
/data/aer/spo/2010
[]
/data/aer/spo/2011
[]
/data/aer/spo/2012
[]
/data/aer/spo/2013
[]
/data/aer/spo/2014
[]
/data/aer/spo/2015
[]
/data/aer/spo/2016
[]
/data/aer/spo/2017
[]
/data/aer/spo/2018
[]
/data/aer/sum/2003
[]
/data/aer/sum/2004
[]
/data/aer/sum/2005
[]
/data/aer/sum/2006
[]
/data/aer/sum/2007
[]
/data/aer/sum/2008
[]
/data/aer/sum/2009
[]
/data/aer/sum/2010
[]
/data/aer/sum/2011
[]
/data/aer/sum/2012
[]
/data/aer/sum/2013
[]
/data/aer/sum/2014
[]
/data/aer/sum/2015
[]
/data/aer/sum/2016
[]
/data/aer/sum/2017
[]
/data/aer/sum/2018
[]
/data/aer/sum/ICECAPS
[]
/data/aer/thd/0002
[]
/data/aer/thd/2002
['US6005G.20020410000000.20171020004835.particle_number_concentration.aerosol.266d.1h.lev2.nas.gz']
/data/aer/thd/2003
['US6005G.20030101000000.20171020004930.particle_number_concentration.aerosol.219d.1h.lev2.nas.gz', 'US6005G.20030808000000.20171020004930.particle_number_concentration.aerosol.129d.1h.lev2.nas.gz', 'US6005G.20031215000000.20171020004930.particle_number_concentration.aerosol.17d.1h.lev2.nas.gz']
/data/aer/thd/2004
['US6005G.20040101000000.20171020005039.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/thd/2005
['US6005G.20050101000000.20171020005151.particle_number_concentration.aerosol.103d.1h.lev2.nas.gz', 'US6005G.20050414000000.20171020005151.particle_number_concentration.aerosol.262d.1h.lev2.nas.gz']
/data/aer/thd/2006
['US6005G.20060101000000.20171020005305.particle_number_concentration.aerosol.219d.1h.lev2.nas.gz', 'US6005G.20060808000000.20171020005305.particle_number_concentration.aerosol.146d.1h.lev2.nas.gz']
/data/aer/thd/2007
['US6005G.20070101000000.20180624030709.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/thd/2008
['US6005G.20080101000000.20171020005547.particle_number_concentration.aerosol.94d.1h.lev2.nas.gz', 'US6005G.20080404000000.20171020005547.particle_number_concentration.aerosol.59d.1h.lev2.nas.gz', 'US6005G.20080602000000.20171020005547.particle_number_concentration.aerosol.213d.1h.lev2.nas.gz']
/data/aer/thd/2009
['US6005G.20090101000000.20171020005712.particle_number_concentration.aerosol.204d.1h.lev2.nas.gz', 'US6005G.20090724000000.20171020005712.particle_number_concentration.aerosol.161d.1h.lev2.nas.gz']
/data/aer/thd/2010
['US6005G.20100101000000.20171020005832.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/thd/2011
['US6005G.20110101000000.20180624030806.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/thd/2012
['US6005G.20120101000000.20171020010117.particle_number_concentration.aerosol.366d.1h.lev2.nas.gz']
/data/aer/thd/2013
['US6005G.20130101000000.20180624030920.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/thd/2014

['US6005G.20140101000000.20171020010410.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/thd/2015
['US6005G.20150101000000.20171020010533.particle_number_concentration.aerosol.1y.1h.lev2.nas.gz']
/data/aer/thd/2016
['US6005G.20160101000000.20171020010653.particle_number_concentration.aerosol.8d.1h.lev2.nas.gz', 'US6005G.20160109000000.20171020010653.particle_number_concentration.aerosol.31d.1h.lev2.nas.gz', 'US6005G.20160209000000.20171020010653.particle_number_concentration.aerosol.263h.1h.lev2.nas.gz', 'US6005G.20160219230000.20171020010653.particle_number_concentration.aerosol.7585h.1h.lev2.nas.gz']
/data/aer/thd/2017
['US6005G.20170101000000.20180218054702.particle_number_concentration.aerosol.3644h.1h.lev2.nas.gz']

### Extract Aerosol data from .nas files

In [143]:
# Initialise dataframe and any declarations

getItems = ['Station GAW-ID:', 'Station state/province:','Measurement latitude:','Measurement longitude:']

monthly_avg_AER = pd.DataFrame(columns = ['StationID', 'Location','latitude','longitude',\
                                         'Year','Month', 'Avg.Conc'])

In [144]:
# get the list of stations to loop through
aer_stations = []
for roots,dirs,files in os.walk(aer_rawdata_path):
    if(dirs):
        aer_stations = dirs

aer_stations

['_bnd', '_brw', '_mlo', '_smo', '_spo', '_sum', '_thd']

#### Read from 161 folders and combine the data into a dataframe

In [145]:

#Loop through stations to extract data
for s in aer_stations:
    print(f"Extracting and Loading data for station - {s} ")
    
    for root, dirs, files in os.walk(os.path.join(aer_rawdata_path,s)):
        for name in files:
            if(name.rsplit('.',1)[1] == 'gz'):

                file_content = []
                #open gz file in rt mode - opens in read & text mode
                with gzip.open(os.path.join(root,name), 'rt') as f:
                    file_content = f.read().splitlines()

                if(file_content):
                    ### Collect Station Details
                    Station_Info = {'Station GAW-ID:':['None'], 'Station state/province:':['None'],\
                                    'Measurement latitude:':['None'],'Measurement longitude:':['None']}          

                    for itm in getItems:
                        Station_Info[itm] = [file_content[i].rsplit(" ",1)[1] for i, s in enumerate(file_content) if itm in s]

                    for key,val in Station_Info.items():
                        if(not Station_Info[key]):
                            Station_Info[key] = ['None']
                        
                                       
                    ### Collect Data
                    dataStrt = int(file_content[0].split(" ")[0])
                    yr =  int(file_content[6].split(" ")[0])
                    cols = [v for v in file_content[dataStrt-1].split(" ") if v != ''] 

                    station_data  = []

                    for i, row in enumerate(file_content[dataStrt:]):
                        station_data.append([v for v in row.split(" ") if v != ''])

                    
                    #temp dataframe to store the station data
                    df = pd.DataFrame(station_data, columns = cols)

                                           
                    ### CLean Data
                    #drop cols not required
                    df = df[['start_time','end_time','st_y','ed_y','conc']]

                    df = df.apply(pd.to_numeric)

                    df = df.replace(99999.9, value = np.nan)

                    #Get num of days per year
                    days_in_mnth = []

                    for i in range(1,13,1):
                        days_in_mnth.append(monthrange(yr, i)[1]*24)

                    days_in_mnth = np.cumsum(days_in_mnth)

                    ### Get Monthly avg
                    df_monthly_avg = pd.DataFrame(columns = ['StationID', 'Location','latitude','longitude',\
                                                 'Year','Month', 'Avg.Conc'])
                    strt = 0

                    for i, val in enumerate(days_in_mnth):
                        df_monthly_avg.loc[i] = [Station_Info['Station GAW-ID:'][0], Station_Info['Station state/province:'][0],\
                                                 Station_Info['Measurement latitude:'][0],Station_Info['Measurement longitude:'][0],\
                                                 yr, i+1, df[strt:val]['conc'].mean()]
                        strt = val+1

                    ## append with master DF
                    monthly_avg_AER = monthly_avg_AER.append(df_monthly_avg, sort=False)

print("Extraction done and Data Load to dataframe")
print(f"Total data loaded is {len(monthly_avg_AER)}")

Extracting and Loading data for station - _bnd
Extracting and Loading data for station - _brw
Extracting and Loading data for station - _mlo
Extracting and Loading data for station - _smo
Extracting and Loading data for station - _spo
Extracting and Loading data for station - _sum
Extracting and Loading data for station - _thd
Extraction done and Data Load to dataframe
Total data loaded is 1944

In [146]:
monthly_avg_AER.head()

  StationID  Location  latitude  longitude  Year Month     Avg.Conc
0       BND  Illinois  40.05000  -88.36667  1994     1  7416.095385
1       BND  Illinois  40.05000  -88.36667  1994     2  8250.276304
2       BND  Illinois  40.05000  -88.36667  1994     3  7657.565079
3       BND  Illinois  40.05000  -88.36667  1994     4          NaN
4       BND  Illinois  40.05000  -88.36667  1994     5          NaN

In [150]:
# Collate only data upto 2017
monthly_avg_AER = monthly_avg_AER[(monthly_avg_AER['Year'] >= 1975) & (monthly_avg_AER['Year'] <= 2017)]

print(f"Data starts from year {monthly_avg_AER['Year'].min()} and ends in {monthly_avg_AER['Year'].max()}")

Data starts from year 1975 and ends in 2017

In [151]:
# Reshape Data with Month along the column instead of rows
monthly_avg_AER = monthly_avg_AER.pivot_table(index = ['StationID', 'Location','latitude','longitude','Year'], \
                           columns = 'Month', values = 'Avg.Conc')

monthly_avg_AER.reset_index(inplace = True)

monthly_avg_AER.head()

Month,StationID,Location,latitude,longitude,Year,1,2,3,4,5,6,7,8,9,10,11,12
0,BND,Illinois,40.05000,-88.36667,1994,7416.095385,8250.276304,7657.565079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BND,Illinois,40.05000,-88.36667,1995,5968.775814,7162.291803,8252.129868,6663.806811,6226.199859,4933.423659,6183.971968,4861.151709,8760.603648,6857.581215,5655.194150,6026.326203
2,BND,Illinois,40.05000,-88.36667,1996,NaN,NaN,NaN,1100.308333,3446.747376,3127.360201,4073.380619,6261.032070,6619.884828,6095.886916,NaN,3659.170427
3,BND,Illinois,40.05000,-88.36667,1997,5061.243383,3513.422356,4041.113459,2966.039888,2012.236145,NaN,3886.328283,5925.260870,7167.643339,9868.816059,5873.094715,4452.612195
4,BND,Illinois,40.05000,-88.36667,1998,4977.414286,2695.786942,1385.488854,2085.668524,3734.474488,7184.377101,6224.556716,5529.677486,7570.577287,6596.904367,5956.719236,3211.306470

In [152]:

# Change col names to month names
mnth_names = {1:'Jan',2:'Feb',3:'Mar',4:'Apr',5:'May',6:'Jun',7:'Jul',8:'Aug',9:'Sep',10:'Oct',11:'Nov', 12:'Dec'}

monthly_avg_AER.rename(columns = mnth_names, inplace = True)
monthly_avg_AER.rename_axis("", axis = 1, inplace = True)

monthly_avg_AER.head()

,StationID,Location,latitude,longitude,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,BND,Illinois,40.05000,-88.36667,1994,7416.095385,8250.276304,7657.565079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BND,Illinois,40.05000,-88.36667,1995,5968.775814,7162.291803,8252.129868,6663.806811,6226.199859,4933.423659,6183.971968,4861.151709,8760.603648,6857.581215,5655.194150,6026.326203
2,BND,Illinois,40.05000,-88.36667,1996,NaN,NaN,NaN,1100.308333,3446.747376,3127.360201,4073.380619,6261.032070,6619.884828,6095.886916,NaN,3659.170427
3,BND,Illinois,40.05000,-88.36667,1997,5061.243383,3513.422356,4041.113459,2966.039888,2012.236145,NaN,3886.328283,5925.260870,7167.643339,9868.816059,5873.094715,4452.612195
4,BND,Illinois,40.05000,-88.36667,1998,4977.414286,2695.786942,1385.488854,2085.668524,3734.474488,7184.377101,6224.556716,5529.677486,7570.577287,6596.904367,5956.719236,3211.306470

In [153]:
# convert Concentration values to numeric and round off at 2nd decimal place
monthly_avg_AER.iloc[:, 2:].apply(pd.to_numeric)
monthly_avg_AER = monthly_avg_AER.round(decimals = 2)

monthly_avg_AER.head()

,StationID,Location,latitude,longitude,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,BND,Illinois,40.05000,-88.36667,1994,7416.10,8250.28,7657.57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BND,Illinois,40.05000,-88.36667,1995,5968.78,7162.29,8252.13,6663.81,6226.20,4933.42,6183.97,4861.15,8760.60,6857.58,5655.19,6026.33
2,BND,Illinois,40.05000,-88.36667,1996,NaN,NaN,NaN,1100.31,3446.75,3127.36,4073.38,6261.03,6619.88,6095.89,NaN,3659.17
3,BND,Illinois,40.05000,-88.36667,1997,5061.24,3513.42,4041.11,2966.04,2012.24,NaN,3886.33,5925.26,7167.64,9868.82,5873.09,4452.61
4,BND,Illinois,40.05000,-88.36667,1998,4977.41,2695.79,1385.49,2085.67,3734.47,7184.38,6224.56,5529.68,7570.58,6596.90,5956.72,3211.31

In [156]:
#Obtain row-wise avg to replace NAN
rowAvg = monthly_avg_AER[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']].mean(axis = 1)
rowAvg

# Replace NAN with row-wise mean
monthly_avg_AER = monthly_avg_AER.apply(lambda r: r.fillna(rowAvg[r.index]))
monthly_avg_AER = monthly_avg_AER.round(decimals = 2)

#Check if NAN exists
printmd(f"### There are {monthly_avg_AER.isnull().values.sum()} null values")

monthly_avg_AER.head()

### There are 0 null values

,StationID,Location,latitude,longitude,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,BND,Illinois,40.05000,-88.36667,1994,7416.10,8250.28,7657.57,7774.65,7774.65,7774.65,7774.65,7774.65,7774.65,7774.65,7774.65,7774.65
1,BND,Illinois,40.05000,-88.36667,1995,5968.78,7162.29,8252.13,6663.81,6226.20,4933.42,6183.97,4861.15,8760.60,6857.58,5655.19,6026.33
2,BND,Illinois,40.05000,-88.36667,1996,4297.97,4297.97,4297.97,1100.31,3446.75,3127.36,4073.38,6261.03,6619.88,6095.89,4297.97,3659.17
3,BND,Illinois,40.05000,-88.36667,1997,5061.24,3513.42,4041.11,2966.04,2012.24,4978.89,3886.33,5925.26,7167.64,9868.82,5873.09,4452.61
4,BND,Illinois,40.05000,-88.36667,1998,4977.41,2695.79,1385.49,2085.67,3734.47,7184.38,6224.56,5529.68,7570.58,6596.90,5956.72,3211.31

In [157]:
#roll up data to global level by yearly and monthly
global_avg_AER = monthly_avg_AER[['Year','Jan','Feb','Mar','Apr','May','Jun','Jul','Aug',\
                                  'Sep','Oct','Nov','Dec']].groupby('Year').agg(np.mean)

global_avg_AER = global_avg_AER.round(decimals = 2)

global_avg_AER.reset_index(inplace = True)

global_avg_AER.head(20)

,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Year,,,,,,,,,,,,
1975,795.03,795.03,795.03,451.73,795.03,580.06,1179.10,711.68,818.22,685.29,1304.93,629.23
1976,294.08,603.32,553.45,687.52,923.89,594.80,503.14,309.01,680.04,617.39,453.96,420.80
1977,351.42,360.20,477.35,370.58,249.07,267.82,252.70,343.96,466.99,372.39,359.08,343.99
1978,365.60,304.98,369.18,316.16,311.91,328.10,292.04,471.29,278.78,211.77,289.08,291.86
1979,339.98,454.37,428.58,361.95,272.81,345.56,504.45,358.89,287.38,288.07,276.47,269.10
1980,286.70,265.14,280.23,232.85,193.63,456.52,292.32,318.44,292.24,270.09,237.37,433.11
1981,414.78,394.10,326.46,320.69,342.30,401.25,637.47,532.01,420.42,402.81,363.78,521.20
1982,464.90,409.20,401.59,280.60,244.69,402.03,393.30,363.90,354.81,233.98,243.73,280.15
1983,221.37,267.56,334.12,387.80,386.20,277.29,341.75,395.37,388.78,346.38,232.03,230.69
1984,343.67,821.52,638.17,203.08,294.59,354.69,855.39,1264.49,322.51,273.27,237.65,224.45
1985,265.47,661.61,395.90,303.68,363.82,324.54,432.70,504.49,392.55,349.34,476.20,361.94
1986,307.54,452.07,781.79,531.74,385.47,418.29,534.70,464.16,332.93,303.02,312.18,380.17
1987,318.33,427.99,382.46,376.80,312.39,288.53,376.67,415.23,332.67,409.54,250.35,273.68
1988,340.42,305.57,323.91,297.38,276.50,394.91,408.78,822.63,552.49,326.59,255.06,277.07
1989,384.04,286.95,374.34,443.49,388.21,488.49,580.53,420.18,390.15,431.93,290.10,296.32
1990,233.31,352.68,358.34,299.77,390.13,338.22,490.05,425.80,349.09,526.00,274.89,266.28
1991,337.17,553.14,344.79,358.46,385.61,453.25,374.46,432.98,383.92,630.61,420.85,518.02
1992,370.33,429.33,448.93,418.75,516.69,334.92,567.31,673.24,416.72,394.47,384.01,442.92
1993,526.38,489.38,515.39,452.26,412.50,638.30,781.89,839.00,751.36,589.50,683.55,515.40
1994,2840.25,3151.77,2916.36,2908.10,2907.17,2902.08,3052.69,3151.49,2884.06,2914.63,2933.02,2936.62

In [159]:
#write raw Aerosol data and summary Aerosol data to csv files
monthly_avg_AER.to_csv(os.path.join(clnd_data_dir,"AER_RawData.csv"), index = False)  ## Entire Raw DAta with stations

global_avg_AER.to_csv(os.path.join(clnd_data_dir,"AER_GlobalSummary.csv"), index = False) ## Grouped by year and reported monthly at global lvl

### ***************** Aerosol Extraction and cleaning done *************************

### Extract & clean Total Solar Irradiance Data

In [162]:
# Extract JSON though requests.get()
try:
    resp = requests.get(tsi_url)
    
    #check if the status code is other 200 (ie. not successful request)
    if(resp.status_code != 200):
        raise HTTPError
    
    # extract the JSON data
    TSI_json = resp.json()
    
except ConnectionError as c:
    print("Error in Connection :" + e)

except HTTPError as h:
    print("Unsuccessful in obtaining JSON : " + h)

In [163]:
## Print JSON Outout for verification
pprint(TSI_json)

{'nrl2_tsi_P1M': {'samples': [{'irradiance': 1361.3564453125,
                               'time': '1970-15-01',
                               'uncertainty': 0.5603513121604919},
                              {'irradiance': 1361.090576171875,
                               'time': '1970-46-02',
                               'uncertainty': 0.6423571705818176},
                              {'irradiance': 1361.6412353515625,
                               'time': '1970-74-03',
                               'uncertainty': 0.5571277141571045},
                              {'irradiance': 1361.3487548828125,
                               'time': '1970-105-04',
                               'uncertainty': 0.610397219657898},
                              {'irradiance': 1361.2384033203125,
                               'time': '1970-135-05',
                               'uncertainty': 0.6647059917449951},
                              {'irradiance': 1361.541015625,
                               'time': '1970-166-06',
                               'uncertainty': 0.5767399072647095},
                              {'irradiance': 1361.328857421875,
                               'time': '1970-196-07',
                               'uncertainty': 0.589699923992157},
                              {'irradiance': 1361.3031005859375,
                               'time': '1970-227-08',
                               'uncertainty': 0.4586934745311737},
                              {'irradiance': 1361.335693359375,
                               'time': '1970-258-09',
                               'uncertainty': 0.4989226460456848},
                              {'irradiance': 1361.3900146484375,
                               'time': '1970-288-10',
                               'uncertainty': 0.49583572149276733},
                              {'irradiance': 1361.366943359375,
                               'time': '1970-319-11',
                               'uncertainty': 0.5449463725090027},
                              {'irradiance': 1361.5447998046875,
                               'time': '1970-349-12',
                               'uncertainty': 0.5314720273017883},
                              {'irradiance': 1361.068115234375,
                               'time': '1971-15-01',
                               'uncertainty': 0.5562562346458435},
                              {'irradiance': 1361.079345703125,
                               'time': '1971-46-02',
                               'uncertainty': 0.4502466320991516},
                              {'irradiance': 1361.334228515625,
                               'time': '1971-74-03',
                               'uncertainty': 0.33456122875213623},
                              {'irradiance': 1361.090576171875,
                               'time': '1971-105-04',
                               'uncertainty': 0.33601152896881104},
                              {'irradiance': 1361.068359375,
                               'time': '1971-135-05',
                               'uncertainty': 0.2926710247993469},
                              {'irradiance': 1361.14306640625,
                               'time': '1971-166-06',
                               'uncertainty': 0.24797508120536804},
                              {'irradiance': 1360.9154052734375,
                               'time': '1971-196-07',
                               'uncertainty': 0.3572438657283783},
                              {'irradiance': 1360.8876953125,
                               'time': '1971-227-08',
                               'uncertainty': 0.3506716191768646},
                              {'irradiance': 1361.0906982421875,
                               'time': '1971-258-09',
                               'uncertainty': 0.24585145711898804},
                              {'irradiance': 1360.843505859375,
                               'time': '1971-288-10',
                               'uncertainty': 0.3090902864933014},
                              {'irradiance': 1360.9927978515625,
                               'time': '1971-319-11',
                               'uncertainty': 0.3084040582180023},
                              {'irradiance': 1360.974853515625,
                               'time': '1971-349-12',
                               'uncertainty': 0.33068475127220154},
                              {'irradiance': 1361.26171875,
                               'time': '1972-15-01',
                               'uncertainty': 0.2691020667552948},
                              {'irradiance': 1361.021240234375,
                               'time': '1972-46-02',
                               'uncertainty': 0.41018861532211304},
                              {'irradiance': 1361.064453125,
                               'time': '1972-75-03',
                               'uncertainty': 0.3859025835990906},
                              {'irradiance': 1361.4119873046875,
                               'time': '1972-106-04',
                               'uncertainty': 0.3066560924053192},
                              {'irradiance': 1360.9112548828125,
                               'time': '1972-136-05',
                               'uncertainty': 0.37396764755249023},
                              {'irradiance': 1361.129150390625,
                               'time': '1972-167-06',
                               'uncertainty': 0.43183815479278564},
                              {'irradiance': 1361.2479248046875,
                               'time': '1972-197-07',
                               'uncertainty': 0.3511357307434082},
                              {'irradiance': 1361.1072998046875,
                               'time': '1972-228-08',
                               'uncertainty': 0.3540530800819397},
                              {'irradiance': 1361.2786865234375,
                               'time': '1972-259-09',
                               'uncertainty': 0.29487529397010803},
                              {'irradiance': 1360.90380859375,
                               'time': '1972-289-10',
                               'uncertainty': 0.32206210494041443},
                              {'irradiance': 1361.02587890625,
                               'time': '1972-320-11',
                               'uncertainty': 0.22136062383651733},
                              {'irradiance': 1360.847900390625,
                               'time': '1972-350-12',
                               'uncertainty': 0.21828538179397583},
                              {'irradiance': 1360.9940185546875,
                               'time': '1973-15-01',
                               'uncertainty': 0.2101883590221405},
                              {'irradiance': 1360.989501953125,
                               'time': '1973-46-02',
                               'uncertainty': 0.20945212244987488},
                              {'irradiance': 1360.7843017578125,
                               'time': '1973-74-03',
                               'uncertainty': 0.24320003390312195},
                              {'irradiance': 1360.8875732421875,
                               'time': '1973-105-04',
                               'uncertainty': 0.2714393138885498},
                              {'irradiance': 1360.9967041015625,
                               'time': '1973-135-05',
                               'uncertainty': 0.21758437156677246},
                              {'irradiance': 1360.93017578125,
                               'time': '1973-166-06',
                               'uncertainty': 0.19823220372200012},
                              {'irradiance': 1360.851318359375,
                               'time': '1973-196-07',
                               'uncertainty': 0.15582363307476044},
                              {'irradiance': 1360.848388671875,
                               'time': '1973-227-08',
                               'uncertainty': 0.14370371401309967},
                              {'irradiance': 1360.6800537109375,
                               'time': '1973-258-09',
                               'uncertainty': 0.27105170488357544},
                              {'irradiance': 1360.8424072265625,
                               'time': '1973-288-10',
                               'uncertainty': 0.18414871394634247},
                              {'irradiance': 1360.7823486328125,
                               'time': '1973-319-11',
                               'uncertainty': 0.13425704836845398},
                              {'irradiance': 1360.796875,
                               'time': '1973-349-12',
                               'uncertainty': 0.1335446536540985},
                              {'irradiance': 1360.7685546875,
                               'time': '1974-15-01',
                               'uncertainty': 0.12497430294752121},
                              {'irradiance': 1360.731689453125,
                               'time': '1974-46-02',
                               'uncertainty': 0.12399225682020187},
                              {'irradiance': 1360.8466796875,
                               'time': '1974-74-03',
                               'uncertainty': 0.12166920304298401},
                              {'irradiance': 1360.6934814453125,
                               'time': '1974-105-04',
                               'uncertainty': 0.15971282124519348},
                              {'irradiance': 1360.897705078125,
                               'time': '1974-135-05',
                               'uncertainty': 0.1875269114971161},
                              {'irradiance': 1360.93505859375,
                               'time': '1974-166-06',
                               'uncertainty': 0.18086087703704834},
                              {'irradiance': 1360.6202392578125,
                               'time': '1974-196-07',
                               'uncertainty': 0.24156516790390015},
                              {'irradiance': 1360.8031005859375,
                               'time': '1974-227-08',
                               'uncertainty': 0.17465102672576904},
                              {'irradiance': 1360.7001953125,
                               'time': '1974-258-09',
                               'uncertainty': 0.19096879661083221},
                              {'irradiance': 1360.696044921875,
                               'time': '1974-288-10',
                               'uncertainty': 0.21349221467971802},
                              {'irradiance': 1360.8519287109375,
                               'time': '1974-319-11',
                               'uncertainty': 0.16524025797843933},
                              {'irradiance': 1360.7059326171875,
                               'time': '1974-349-12',
                               'uncertainty': 0.12408323585987091},
                              {'irradiance': 1360.6595458984375,
                               'time': '1975-15-01',
                               'uncertainty': 0.06769819557666779},
                              {'irradiance': 1360.6441650390625,
                               'time': '1975-46-02',
                               'uncertainty': 0.048880744725465775},
                              {'irradiance': 1360.7130126953125,
                               'time': '1975-74-03',
                               'uncertainty': 0.05243948474526405},
                              {'irradiance': 1360.79736328125,
                               'time': '1975-105-04',
                               'uncertainty': 0.060187581926584244},
                              {'irradiance': 1360.787353515625,
                               'time': '1975-135-05',
                               'uncertainty': 0.06823105365037918},
                              {'irradiance': 1360.7034912109375,
                               'time': '1975-166-06',
                               'uncertainty': 0.061018433421850204},
                              {'irradiance': 1360.6541748046875,
                               'time': '1975-196-07',
                               'uncertainty': 0.10142006725072861},
                              {'irradiance': 1360.5084228515625,
                               'time': '1975-227-08',
                               'uncertainty': 0.16936470568180084},
                              {'irradiance': 1360.8387451171875,
                               'time': '1975-258-09',
                               'uncertainty': 0.08385372906923294},
                              {'irradiance': 1360.7734375,
                               'time': '1975-288-10',
                               'uncertainty': 0.07946524024009705},
                              {'irradiance': 1360.7691650390625,
                               'time': '1975-319-11',
                               'uncertainty': 0.10827921330928802},
                              {'irradiance': 1360.737548828125,
                               'time': '1975-349-12',
                               'uncertainty': 0.06896470487117767},
                              {'irradiance': 1360.709716796875,
                               'time': '1976-15-01',
                               'uncertainty': 0.07945102453231812},
                              {'irradiance': 1360.709716796875,
                               'time': '1976-46-02',
                               'uncertainty': 0.053309325128793716},
                              {'irradiance': 1360.574951171875,
                               'time': '1976-75-03',
                               'uncertainty': 0.10125083476305008},
                              {'irradiance': 1360.633544921875,
                               'time': '1976-106-04',
                               'uncertainty': 0.11527799069881439},
                              {'irradiance': 1360.758544921875,
                               'time': '1976-136-05',
                               'uncertainty': 0.0739627331495285},
                              {'irradiance': 1360.7054443359375,
                               'time': '1976-167-06',
                               'uncertainty': 0.06282676011323929},
                              {'irradiance': 1360.679443359375,
                               'time': '1976-197-07',
                               'uncertainty': 0.038115788251161575},
                              {'irradiance': 1360.666259765625,
                               'time': '1976-228-08',
                               'uncertainty': 0.09676475822925568},
                              {'irradiance': 1360.72265625,
                               'time': '1976-259-09',
                               'uncertainty': 0.08282670378684998},
                              {'irradiance': 1360.7923583984375,
                               'time': '1976-289-10',
                               'uncertainty': 0.09579627215862274},
                              {'irradiance': 1360.7127685546875,
                               'time': '1976-320-11',
                               'uncertainty': 0.06069566681981087},
                              {'irradiance': 1360.6707763671875,
                               'time': '1976-350-12',
                               'uncertainty': 0.07794850319623947},
                              {'irradiance': 1360.7567138671875,
                               'time': '1977-15-01',
                               'uncertainty': 0.07843296974897385},
                              {'irradiance': 1360.8641357421875,
                               'time': '1977-46-02',
                               'uncertainty': 0.12344299256801605},
                              {'irradiance': 1360.7532958984375,
                               'time': '1977-74-03',
                               'uncertainty': 0.06092046946287155},
                              {'irradiance': 1360.81640625,
                               'time': '1977-105-04',
                               'uncertainty': 0.09678719192743301},
                              {'irradiance': 1360.908447265625,
                               'time': '1977-135-05',
                               'uncertainty': 0.11315623670816422},
                              {'irradiance': 1360.7105712890625,
                               'time': '1977-166-06',
                               'uncertainty': 0.2010180801153183},
                              {'irradiance': 1360.898681640625,
                               'time': '1977-196-07',
                               'uncertainty': 0.12019577622413635},
                              {'irradiance': 1360.934326171875,
                               'time': '1977-227-08',
                               'uncertainty': 0.14923492074012756},
                              {'irradiance': 1360.6644287109375,
                               'time': '1977-258-09',
                               'uncertainty': 0.24251554906368256},
                              {'irradiance': 1360.9041748046875,
                               'time': '1977-288-10',
                               'uncertainty': 0.22840137779712677},
                              {'irradiance': 1361.2930908203125,
                               'time': '1977-319-11',
                               'uncertainty': 0.22678986191749573},
                              {'irradiance': 1361.1768798828125,
                               'time': '1977-349-12',
                               'uncertainty': 0.2867046892642975},
                              {'irradiance': 1361.2691650390625,
                               'time': '1978-15-01',
                               'uncertainty': 0.27665090560913086},
                              {'irradiance': 1360.8037109375,
                               'time': '1978-46-02',
                               'uncertainty': 0.49511516094207764},
                              {'irradiance': 1361.1087646484375,
                               'time': '1978-74-03',
                               'uncertainty': 0.4027305543422699},
                              {'irradiance': 1361.0684814453125,
                               'time': '1978-105-04',
                               'uncertainty': 0.46105119585990906},
                              {'irradiance': 1361.238037109375,
                               'time': '1978-135-05',
                               'uncertainty': 0.4659595787525177},
                              {'irradiance': 1361.4176025390625,
                               'time': '1978-166-06',
                               'uncertainty': 0.45032691955566406},
                              {'irradiance': 1361.4482421875,
                               'time': '1978-196-07',
                               'uncertainty': 0.4022989869117737},
                              {'irradiance': 1361.5439453125,
                               'time': '1978-227-08',
                               'uncertainty': 0.3242941200733185},
                              {'irradiance': 1361.1170654296875,
                               'time': '1978-258-09',
                               'uncertainty': 0.5990464091300964},
                              {'irradiance': 1361.53955078125,
                               'time': '1978-288-10',
                               'uncertainty': 0.5285876393318176},
                              {'irradiance': 1361.2813720703125,
                               'time': '1978-319-11',
                               'uncertainty': 0.4892313778400421},
                              {'irradiance': 1360.7186279296875,
                               'time': '1978-349-12',

                               'time': '1985-196-07',
                               'uncertainty': 0.10857190191745758},
                              {'irradiance': 1360.765869140625,
                               'time': '1985-227-08',
                               'uncertainty': 0.0635213553905487},
                              {'irradiance': 1360.6533203125,
                               'time': '1985-258-09',
                               'uncertainty': 0.033385731279850006},
                              {'irradiance': 1360.544921875,
                               'time': '1985-288-10',
                               'uncertainty': 0.05904655158519745},
                              {'irradiance': 1360.608642578125,
                               'time': '1985-319-11',
                               'uncertainty': 0.04473700746893883},
                              {'irradiance': 1360.65234375,
                               'time': '1985-349-12',
                               'uncertainty': 0.0433201901614666},
                              {'irradiance': 1360.66552734375,
                               'time': '1986-15-01',
                               'uncertainty': 0.033631160855293274},
                              {'irradiance': 1360.5408935546875,
                               'time': '1986-46-02',
                               'uncertainty': 0.11518295854330063},
                              {'irradiance': 1360.6876220703125,
                               'time': '1986-74-03',
                               'uncertainty': 0.07231529802083969},
                              {'irradiance': 1360.6513671875,
                               'time': '1986-105-04',
                               'uncertainty': 0.07272132486104965},
                              {'irradiance': 1360.7266845703125,
                               'time': '1986-135-05',
                               'uncertainty': 0.05259392037987709},
                              {'irradiance': 1360.647216796875,
                               'time': '1986-166-06',
                               'uncertainty': 0.02696862630546093},
                              {'irradiance': 1360.6292724609375,
                               'time': '1986-196-07',
                               'uncertainty': 0.04469147324562073},
                              {'irradiance': 1360.5762939453125,
                               'time': '1986-227-08',
                               'uncertainty': 0.03491799905896187},
                              {'irradiance': 1360.583984375,
                               'time': '1986-258-09',
                               'uncertainty': 0.01817137934267521},
                              {'irradiance': 1360.61181640625,
                               'time': '1986-288-10',
                               'uncertainty': 0.09003046154975891},
                              {'irradiance': 1360.707275390625,
                               'time': '1986-319-11',
                               'uncertainty': 0.06637987494468689},
                              {'irradiance': 1360.6639404296875,
                               'time': '1986-349-12',
                               'uncertainty': 0.03394780308008194},
                              {'irradiance': 1360.6502685546875,
                               'time': '1987-15-01',
                               'uncertainty': 0.03506072983145714},
                              {'irradiance': 1360.6435546875,
                               'time': '1987-46-02',
                               'uncertainty': 0.028137536719441414},
                              {'irradiance': 1360.646484375,
                               'time': '1987-74-03',
                               'uncertainty': 0.04826364293694496},
                              {'irradiance': 1360.5794677734375,
                               'time': '1987-105-04',
                               'uncertainty': 0.1257043182849884},
                              {'irradiance': 1360.7227783203125,
                               'time': '1987-135-05',
                               'uncertainty': 0.13472366333007812},
                              {'irradiance': 1360.8555908203125,
                               'time': '1987-166-06',
                               'uncertainty': 0.09260856360197067},
                              {'irradiance': 1360.864501953125,
                               'time': '1987-196-07',
                               'uncertainty': 0.12061654031276703},
                              {'irradiance': 1360.7576904296875,
                               'time': '1987-227-08',
                               'uncertainty': 0.15371276438236237},
                              {'irradiance': 1360.8497314453125,
                               'time': '1987-258-09',
                               'uncertainty': 0.11726967990398407},
                              {'irradiance': 1360.820068359375,
                               'time': '1987-288-10',
                               'uncertainty': 0.17297117412090302},
                              {'irradiance': 1360.988525390625,
                               'time': '1987-319-11',
                               'uncertainty': 0.19085440039634705},
                              {'irradiance': 1361.006103515625,
                               'time': '1987-349-12',
                               'uncertainty': 0.14889228343963623},
                              {'irradiance': 1361.0673828125,
                               'time': '1988-15-01',
                               'uncertainty': 0.21654216945171356},
                              {'irradiance': 1361.1387939453125,
                               'time': '1988-46-02',
                               'uncertainty': 0.22521571815013885},
                              {'irradiance': 1360.9241943359375,
                               'time': '1988-75-03',
                               'uncertainty': 0.2846917510032654},
                              {'irradiance': 1361.0384521484375,
                               'time': '1988-106-04',
                               'uncertainty': 0.3424678444862366},
                              {'irradiance': 1361.355712890625,
                               'time': '1988-136-05',
                               'uncertainty': 0.2749689519405365},
                              {'irradiance': 1360.966552734375,
                               'time': '1988-167-06',
                               'uncertainty': 0.4582464098930359},
                              {'irradiance': 1360.7259521484375,
                               'time': '1988-197-07',
                               'uncertainty': 0.5382972359657288},
                              {'irradiance': 1361.107666015625,
                               'time': '1988-228-08',
                               'uncertainty': 0.4983177185058594},
                              {'irradiance': 1361.49560546875,
                               'time': '1988-259-09',
                               'uncertainty': 0.466966450214386},
                              {'irradiance': 1361.178466796875,
                               'time': '1988-289-10',
                               'uncertainty': 0.573610782623291},
                              {'irradiance': 1361.26708984375,
                               'time': '1988-320-11',
                               'uncertainty': 0.5022830367088318},
                              {'irradiance': 1361.178955078125,
                               'time': '1988-350-12',
                               'uncertainty': 0.6833692193031311},
                              {'irradiance': 1361.423583984375,
                               'time': '1989-15-01',
                               'uncertainty': 0.7999830842018127},
                              {'irradiance': 1361.621337890625,
                               'time': '1989-46-02',
                               'uncertainty': 0.7891390323638916},
                              {'irradiance': 1361.3665771484375,
                               'time': '1989-74-03',
                               'uncertainty': 0.7365383505821228},
                              {'irradiance': 1361.6126708984375,
                               'time': '1989-105-04',
                               'uncertainty': 0.6642200946807861},
                              {'irradiance': 1361.8258056640625,
                               'time': '1989-135-05',
                               'uncertainty': 0.6808569431304932},
                              {'irradiance': 1361.2301025390625,
                               'time': '1989-166-06',
                               'uncertainty': 0.9959589242935181},
                              {'irradiance': 1362.183349609375,
                               'time': '1989-196-07',
                               'uncertainty': 0.6358052492141724},
                              {'irradiance': 1361.4825439453125,
                               'time': '1989-227-08',
                               'uncertainty': 0.8381217122077942},
                              {'irradiance': 1361.1927490234375,
                               'time': '1989-258-09',
                               'uncertainty': 0.8824584484100342},
                              {'irradiance': 1362.029052734375,
                               'time': '1989-288-10',
                               'uncertainty': 0.728015661239624},
                              {'irradiance': 1361.8433837890625,
                               'time': '1989-319-11',
                               'uncertainty': 0.8534222841262817},
                              {'irradiance': 1361.884765625,
                               'time': '1989-349-12',
                               'uncertainty': 0.7965784072875977},
                              {'irradiance': 1361.899658203125,
                               'time': '1990-15-01',
                               'uncertainty': 0.7412963509559631},
                              {'irradiance': 1361.6728515625,
                               'time': '1990-46-02',
                               'uncertainty': 0.6320591568946838},
                              {'irradiance': 1361.6739501953125,
                               'time': '1990-74-03',
                               'uncertainty': 0.6299099326133728},
                              {'irradiance': 1361.9521484375,
                               'time': '1990-105-04',
                               'uncertainty': 0.624948263168335},
                              {'irradiance': 1361.5482177734375,
                               'time': '1990-135-05',
                               'uncertainty': 0.6536235213279724},
                              {'irradiance': 1361.8507080078125,
                               'time': '1990-166-06',
                               'uncertainty': 0.5639896988868713},
                              {'irradiance': 1361.439208984375,
                               'time': '1990-196-07',
                               'uncertainty': 0.6833862066268921},
                              {'irradiance': 1361.0399169921875,
                               'time': '1990-227-08',
                               'uncertainty': 0.8720978498458862},
                              {'irradiance': 1361.864013671875,
                               'time': '1990-258-09',
                               'uncertainty': 0.6457715630531311},
                              {'irradiance': 1361.625244140625,
                               'time': '1990-288-10',
                               'uncertainty': 0.668506920337677},
                              {'irradiance': 1360.7467041015625,
                               'time': '1990-319-11',
                               'uncertainty': 0.6795108318328857},
                              {'irradiance': 1361.33154296875,
                               'time': '1990-349-12',
                               'uncertainty': 0.6528275609016418},
                              {'irradiance': 1360.9385986328125,
                               'time': '1991-15-01',
                               'uncertainty': 0.8420394062995911},
                              {'irradiance': 1361.2896728515625,
                               'time': '1991-46-02',
                               'uncertainty': 0.8996642827987671},
                              {'irradiance': 1362.2479248046875,
                               'time': '1991-74-03',
                               'uncertainty': 0.9531291723251343},
                              {'irradiance': 1362.175048828125,
                               'time': '1991-105-04',
                               'uncertainty': 0.6601061820983887},
                              {'irradiance': 1361.4100341796875,
                               'time': '1991-135-05',
                               'uncertainty': 0.7056402564048767},
                              {'irradiance': 1361.4000244140625,
                               'time': '1991-166-06',
                               'uncertainty': 0.7712726593017578},
                              {'irradiance': 1361.6563720703125,
                               'time': '1991-196-07',
                               'uncertainty': 0.8042435050010681},
                              {'irradiance': 1361.585205078125,
                               'time': '1991-227-08',
                               'uncertainty': 0.8276920914649963},
                              {'irradiance': 1361.9686279296875,
                               'time': '1991-258-09',
                               'uncertainty': 0.6466250419616699},
                              {'irradiance': 1361.0631103515625,
                               'time': '1991-288-10',
                               'uncertainty': 0.8097324371337891},
                              {'irradiance': 1361.6658935546875,
                               'time': '1991-319-11',
                               'uncertainty': 0.5790073871612549},
                              {'irradiance': 1360.8275146484375,
                               'time': '1991-349-12',
                               'uncertainty': 0.8186489343643188},
                              {'irradiance': 1361.5364990234375,
                               'time': '1992-15-01',
                               'uncertainty': 0.8147103190422058},
                              {'irradiance': 1361.4775390625,
                               'time': '1992-46-02',
                               'uncertainty': 0.8840978741645813},
                              {'irradiance': 1361.9046630859375,
                               'time': '1992-75-03',
                               'uncertainty': 0.5891236066818237},
                              {'irradiance': 1361.65625,
                               'time': '1992-106-04',
                               'uncertainty': 0.5378846526145935},
                              {'irradiance': 1361.4896240234375,
                               'time': '1992-136-05',
                               'uncertainty': 0.36180379986763},
                              {'irradiance': 1361.3319091796875,
                               'time': '1992-167-06',
                               'uncertainty': 0.3189430832862854},
                              {'irradiance': 1361.0230712890625,
                               'time': '1992-197-07',
                               'uncertainty': 0.41948625445365906},
                              {'irradiance': 1360.9764404296875,
                               'time': '1992-228-08',
                               'uncertainty': 0.3662201762199402},
                              {'irradiance': 1361.1549072265625,
                               'time': '1992-259-09',
                               'uncertainty': 0.3023737370967865},
                              {'irradiance': 1360.8377685546875,
                               'time': '1992-289-10',
                               'uncertainty': 0.4129297733306885},
                              {'irradiance': 1361.0250244140625,
                               'time': '1992-320-11',
                               'uncertainty': 0.43852749466896057},
                              {'irradiance': 1361.2943115234375,
                               'time': '1992-350-12',
                               'uncertainty': 0.39006638526916504},
                              {'irradiance': 1361.2584228515625,
                               'time': '1993-15-01',
                               'uncertainty': 0.2861478626728058},
                              {'irradiance': 1360.71875,
                               'time': '1993-46-02',
                               'uncertainty': 0.42325496673583984},
                              {'irradiance': 1361.1414794921875,
                               'time': '1993-74-03',
                               'uncertainty': 0.3658326268196106},
                              {'irradiance': 1361.110107421875,
                               'time': '1993-105-04',
                               'uncertainty': 0.3001715838909149},
                              {'irradiance': 1361.0826416015625,
                               'time': '1993-135-05',
                               'uncertainty': 0.26180997490882874},
                              {'irradiance': 1361.10302734375,
                               'time': '1993-166-06',
                               'uncertainty': 0.27008676528930664},
                              {'irradiance': 1360.9959716796875,
                               'time': '1993-196-07',
                               'uncertainty': 0.22884607315063477},
                              {'irradiance': 1360.99755859375,
                               'time': '1993-227-08',
                               'uncertainty': 0.18687237799167633},
                              {'irradiance': 1360.8448486328125,
                               'time': '1993-258-09',
                               'uncertainty': 0.1271817833185196},
                              {'irradiance': 1360.600341796875,
                               'time': '1993-288-10',
                               'uncertainty': 0.21028560400009155},
                              {'irradiance': 1360.63623046875,
                               'time': '1993-319-11',
                               'uncertainty': 0.19708213210105896},
                              {'irradiance': 1360.799560546875,
                               'time': '1993-349-12',
                               'uncertainty': 0.2140539437532425},
                              {'irradiance': 1360.5450439453125,
                               'time': '1994-15-01',
                               'uncertainty': 0.29242441058158875},
                              {'irradiance': 1360.9383544921875,
                               'time': '1994-46-02',
                               'uncertainty': 0.19199006259441376},
                              {'irradiance': 1360.9857177734375,
                               'time': '1994-74-03',
                               'uncertainty': 0.14107251167297363},
                              {'irradiance': 1360.8173828125,
                               'time': '1994-105-04',
                               'uncertainty': 0.09017973393201828},
                              {'irradiance': 1360.7393798828125,
                               'time': '1994-135-05',
                               'uncertainty': 0.10471168905496597},
                              {'irradiance': 1360.751220703125,
                               'time': '1994-166-06',
                               'uncertainty': 0.09132397174835205},
                              {'irradiance': 1360.7044677734375,

                               'time': '1997-166-06',
                               'uncertainty': 0.06938306987285614},
                              {'irradiance': 1360.7947998046875,
                               'time': '1997-196-07',
                               'uncertainty': 0.06440741568803787},
                              {'irradiance': 1360.8487548828125,
                               'time': '1997-227-08',
                               'uncertainty': 0.10447163879871368},
                              {'irradiance': 1360.6614990234375,
                               'time': '1997-258-09',
                               'uncertainty': 0.2156926840543747},
                              {'irradiance': 1361.0147705078125,
                               'time': '1997-288-10',
                               'uncertainty': 0.12876693904399872},
                              {'irradiance': 1360.889404296875,
                               'time': '1997-319-11',
                               'uncertainty': 0.19952572882175446},
                              {'irradiance': 1360.9073486328125,
                               'time': '1997-349-12',
                               'uncertainty': 0.20527766644954681},
                              {'irradiance': 1361.0457763671875,
                               'time': '1998-15-01',
                               'uncertainty': 0.17523518204689026},
                              {'irradiance': 1360.947265625,
                               'time': '1998-46-02',
                               'uncertainty': 0.16523218154907227},
                              {'irradiance': 1360.835693359375,
                               'time': '1998-74-03',
                               'uncertainty': 0.2508256733417511},
                              {'irradiance': 1361.161865234375,
                               'time': '1998-105-04',
                               'uncertainty': 0.2534627914428711},
                              {'irradiance': 1361.0714111328125,
                               'time': '1998-135-05',
                               'uncertainty': 0.25415781140327454},
                              {'irradiance': 1361.101806640625,
                               'time': '1998-166-06',
                               'uncertainty': 0.2762809991836548},
                              {'irradiance': 1361.341064453125,
                               'time': '1998-196-07',
                               'uncertainty': 0.33039507269859314},
                              {'irradiance': 1361.1539306640625,
                               'time': '1998-227-08',
                               'uncertainty': 0.43098321557044983},
                              {'irradiance': 1361.1092529296875,
                               'time': '1998-258-09',
                               'uncertainty': 0.43992382287979126},
                              {'irradiance': 1361.491943359375,
                               'time': '1998-288-10',
                               'uncertainty': 0.3012680113315582},
                              {'irradiance': 1361.3480224609375,
                               'time': '1998-319-11',
                               'uncertainty': 0.3844839334487915},
                              {'irradiance': 1361.4805908203125,
                               'time': '1998-349-12',
                               'uncertainty': 0.4467560648918152},
                              {'irradiance': 1361.693603515625,
                               'time': '1999-15-01',
                               'uncertainty': 0.3684009313583374},
                              {'irradiance': 1361.405517578125,
                               'time': '1999-46-02',
                               'uncertainty': 0.40558987855911255},
                              {'irradiance': 1361.4483642578125,
                               'time': '1999-74-03',
                               'uncertainty': 0.3316304087638855},
                              {'irradiance': 1361.358642578125,
                               'time': '1999-105-04',
                               'uncertainty': 0.2897440791130066},
                              {'irradiance': 1361.529541015625,
                               'time': '1999-135-05',
                               'uncertainty': 0.4508548378944397},
                              {'irradiance': 1361.4163818359375,
                               'time': '1999-166-06',
                               'uncertainty': 0.57155442237854},
                              {'irradiance': 1361.540771484375,
                               'time': '1999-196-07',
                               'uncertainty': 0.5481528639793396},
                              {'irradiance': 1361.5853271484375,
                               'time': '1999-227-08',
                               'uncertainty': 0.5453729629516602},
                              {'irradiance': 1361.7041015625,
                               'time': '1999-258-09',
                               'uncertainty': 0.37266281247138977},
                              {'irradiance': 1361.2265625,
                               'time': '1999-288-10',
                               'uncertainty': 0.5677866339683533},
                              {'irradiance': 1361.3662109375,
                               'time': '1999-319-11',
                               'uncertainty': 0.6403056383132935},
                              {'irradiance': 1361.4754638671875,
                               'time': '1999-349-12',
                               'uncertainty': 0.5709717869758606},
                              {'irradiance': 1361.7738037109375,
                               'time': '2000-15-01',
                               'uncertainty': 0.46724170446395874},
                              {'irradiance': 1361.59619140625,
                               'time': '2000-46-02',
                               'uncertainty': 0.5568684935569763},
                              {'irradiance': 1361.385498046875,
                               'time': '2000-75-03',
                               'uncertainty': 0.728239119052887},
                              {'irradiance': 1361.6319580078125,
                               'time': '2000-106-04',
                               'uncertainty': 0.6851293444633484},
                              {'irradiance': 1361.275634765625,
                               'time': '2000-136-05',
                               'uncertainty': 0.656433641910553},
                              {'irradiance': 1361.3873291015625,
                               'time': '2000-167-06',
                               'uncertainty': 0.666071891784668},
                              {'irradiance': 1361.5089111328125,
                               'time': '2000-197-07',
                               'uncertainty': 0.7807252407073975},
                              {'irradiance': 1362.0220947265625,
                               'time': '2000-228-08',
                               'uncertainty': 0.5656291842460632},
                              {'irradiance': 1361.4140625,
                               'time': '2000-259-09',
                               'uncertainty': 0.6646339893341064},
                              {'irradiance': 1362.0306396484375,
                               'time': '2000-289-10',
                               'uncertainty': 0.5420844554901123},
                              {'irradiance': 1361.8883056640625,
                               'time': '2000-320-11',
                               'uncertainty': 0.6218894124031067},
                              {'irradiance': 1361.994384765625,
                               'time': '2000-350-12',
                               'uncertainty': 0.551142156124115},
                              {'irradiance': 1361.8099365234375,
                               'time': '2001-15-01',
                               'uncertainty': 0.5137655138969421},
                              {'irradiance': 1361.8375244140625,
                               'time': '2001-46-02',
                               'uncertainty': 0.4213530719280243},
                              {'irradiance': 1361.373779296875,
                               'time': '2001-74-03',
                               'uncertainty': 0.580871045589447},
                              {'irradiance': 1361.3326416015625,
                               'time': '2001-105-04',
                               'uncertainty': 0.594835102558136},
                              {'irradiance': 1361.5892333984375,
                               'time': '2001-135-05',
                               'uncertainty': 0.47948986291885376},
                              {'irradiance': 1361.48828125,
                               'time': '2001-166-06',
                               'uncertainty': 0.6121291518211365},
                              {'irradiance': 1361.717529296875,
                               'time': '2001-196-07',
                               'uncertainty': 0.4294552803039551},
                              {'irradiance': 1361.4205322265625,
                               'time': '2001-227-08',
                               'uncertainty': 0.5415796637535095},
                              {'irradiance': 1361.1553955078125,
                               'time': '2001-258-09',
                               'uncertainty': 0.8429692983627319},
                              {'irradiance': 1361.77978515625,
                               'time': '2001-288-10',
                               'uncertainty': 0.7715927362442017},
                              {'irradiance': 1361.4296875,
                               'time': '2001-319-11',
                               'uncertainty': 0.7709293961524963},
                              {'irradiance': 1361.8873291015625,
                               'time': '2001-349-12',
                               'uncertainty': 0.8445892930030823},
                              {'irradiance': 1362.4296875,
                               'time': '2002-15-01',
                               'uncertainty': 0.8069029450416565},
                              {'irradiance': 1362.257568359375,
                               'time': '2002-46-02',
                               'uncertainty': 0.742054283618927},
                              {'irradiance': 1362.0489501953125,
                               'time': '2002-74-03',
                               'uncertainty': 0.6289652585983276},
                              {'irradiance': 1361.5203857421875,
                               'time': '2002-105-04',
                               'uncertainty': 0.7223870754241943},
                              {'irradiance': 1361.5677490234375,
                               'time': '2002-135-05',
                               'uncertainty': 0.6962630748748779},
                              {'irradiance': 1361.634033203125,
                               'time': '2002-166-06',
                               'uncertainty': 0.5482771992683411},
                              {'irradiance': 1361.00634765625,
                               'time': '2002-196-07',
                               'uncertainty': 0.6619967818260193},
                              {'irradiance': 1361.1932373046875,
                               'time': '2002-227-08',
                               'uncertainty': 0.7063043713569641},
                              {'irradiance': 1361.3519287109375,
                               'time': '2002-258-09',
                               'uncertainty': 0.6946048140525818},
                              {'irradiance': 1361.4625244140625,
                               'time': '2002-288-10',
                               'uncertainty': 0.6125219464302063},
                              {'irradiance': 1361.3685302734375,
                               'time': '2002-319-11',
                               'uncertainty': 0.5900623202323914},
                              {'irradiance': 1361.7965087890625,
                               'time': '2002-349-12',
                               'uncertainty': 0.5200536251068115},
                              {'irradiance': 1361.6280517578125,
                               'time': '2003-15-01',
                               'uncertainty': 0.4567444622516632},
                              {'irradiance': 1361.5869140625,
                               'time': '2003-46-02',
                               'uncertainty': 0.3137752115726471},
                              {'irradiance': 1361.1268310546875,
                               'time': '2003-74-03',
                               'uncertainty': 0.409001886844635},
                              {'irradiance': 1361.110107421875,
                               'time': '2003-105-04',
                               'uncertainty': 0.38775619864463806},
                              {'irradiance': 1361.07666015625,
                               'time': '2003-135-05',
                               'uncertainty': 0.334452748298645},
                              {'irradiance': 1360.95361328125,
                               'time': '2003-166-06',
                               'uncertainty': 0.3844148814678192},
                              {'irradiance': 1361.0982666015625,
                               'time': '2003-196-07',
                               'uncertainty': 0.4091135263442993},
                              {'irradiance': 1361.1712646484375,
                               'time': '2003-227-08',
                               'uncertainty': 0.3699660301208496},
                              {'irradiance': 1361.2845458984375,
                               'time': '2003-258-09',
                               'uncertainty': 0.2956179976463318},
                              {'irradiance': 1360.3067626953125,
                               'time': '2003-288-10',
                               'uncertainty': 0.5659399032592773},
                              {'irradiance': 1361.056640625,
                               'time': '2003-319-11',
                               'uncertainty': 0.41599082946777344},
                              {'irradiance': 1361.1805419921875,
                               'time': '2003-349-12',
                               'uncertainty': 0.2903883457183838},
                              {'irradiance': 1360.99072265625,
                               'time': '2004-15-01',
                               'uncertainty': 0.2908530533313751},
                              {'irradiance': 1360.9910888671875,
                               'time': '2004-46-02',
                               'uncertainty': 0.2686713933944702},
                              {'irradiance': 1361.0198974609375,
                               'time': '2004-75-03',
                               'uncertainty': 0.26571914553642273},
                              {'irradiance': 1361.0621337890625,
                               'time': '2004-106-04',
                               'uncertainty': 0.2236514389514923},
                              {'irradiance': 1360.8956298828125,
                               'time': '2004-136-05',
                               'uncertainty': 0.22820210456848145},
                              {'irradiance': 1360.93212890625,
                               'time': '2004-167-06',
                               'uncertainty': 0.23254306614398956},
                              {'irradiance': 1360.5267333984375,
                               'time': '2004-197-07',
                               'uncertainty': 0.31953951716423035},
                              {'irradiance': 1360.705322265625,
                               'time': '2004-228-08',
                               'uncertainty': 0.2789139747619629},
                              {'irradiance': 1360.9820556640625,
                               'time': '2004-259-09',
                               'uncertainty': 0.21696190536022186},
                              {'irradiance': 1360.9661865234375,
                               'time': '2004-289-10',
                               'uncertainty': 0.23373496532440186},
                              {'irradiance': 1360.882080078125,
                               'time': '2004-320-11',
                               'uncertainty': 0.27890482544898987},
                              {'irradiance': 1361.0718994140625,
                               'time': '2004-350-12',
                               'uncertainty': 0.17288362979888916},
                              {'irradiance': 1360.616455078125,
                               'time': '2005-15-01',
                               'uncertainty': 0.24025121331214905},
                              {'irradiance': 1360.7958984375,
                               'time': '2005-46-02',
                               'uncertainty': 0.18197551369667053},
                              {'irradiance': 1360.745361328125,
                               'time': '2005-74-03',
                               'uncertainty': 0.14553217589855194},
                              {'irradiance': 1360.7237548828125,
                               'time': '2005-105-04',
                               'uncertainty': 0.13632982969284058},
                              {'irradiance': 1360.6551513671875,
                               'time': '2005-135-05',
                               'uncertainty': 0.21932442486286163},
                              {'irradiance': 1360.63525390625,
                               'time': '2005-166-06',
                               'uncertainty': 0.2011932134628296},
                              {'irradiance': 1360.6966552734375,
                               'time': '2005-196-07',
                               'uncertainty': 0.2099539339542389},
                              {'irradiance': 1360.78076171875,
                               'time': '2005-227-08',
                               'uncertainty': 0.17578355967998505},
                              {'irradiance': 1360.6417236328125,
                               'time': '2005-258-09',
                               'uncertainty': 0.16412922739982605},
                              {'irradiance': 1360.7757568359375,
                               'time': '2005-288-10',
                               'uncertainty': 0.06929536163806915},
                              {'irradiance': 1360.621826171875,
                               'time': '2005-319-11',
                               'uncertainty': 0.12095429003238678},
                              {'irradiance': 1360.7203369140625,
                               'time': '2005-349-12',
                               'uncertainty': 0.15920116007328033},
                              {'irradiance': 1360.772705078125,
                               'time': '2006-15-01',
                               'uncertainty': 0.09207881987094879},
                              {'irradiance': 1360.740234375,
                               'time': '2006-46-02',
                               'uncertainty': 0.04892313852906227},
                              {'irradiance': 1360.676513671875,
                               'time': '2006-74-03',
                               'uncertainty': 0.05327676981687546},
                              {'irradiance': 1360.6505126953125,
                               'time': '2006-105-04',
                               'uncertainty': 0.15379232168197632},
                              {'irradiance': 1360.8419189453125,
                               'time': '2006-135-05',
                               'uncertainty': 0.11034415662288666},
                              {'irradiance': 1360.71435546875,

                              {'irradiance': 1360.639892578125,
                               'time': '2009-135-05',
                               'uncertainty': 0.02759220451116562},
                              {'irradiance': 1360.618896484375,
                               'time': '2009-166-06',
                               'uncertainty': 0.02760385349392891},
                              {'irradiance': 1360.5867919921875,
                               'time': '2009-196-07',
                               'uncertainty': 0.0266764797270298},
                              {'irradiance': 1360.5853271484375,
                               'time': '2009-227-08',
                               'uncertainty': 0.014349465258419514},
                              {'irradiance': 1360.5870361328125,
                               'time': '2009-258-09',
                               'uncertainty': 0.023916643112897873},
                              {'irradiance': 1360.5994873046875,
                               'time': '2009-288-10',
                               'uncertainty': 0.03657020255923271},
                              {'irradiance': 1360.6756591796875,
                               'time': '2009-319-11',
                               'uncertainty': 0.0378619022667408},
                              {'irradiance': 1360.6722412109375,
                               'time': '2009-349-12',
                               'uncertainty': 0.05412258580327034},
                              {'irradiance': 1360.6944580078125,
                               'time': '2010-15-01',
                               'uncertainty': 0.08268748968839645},
                              {'irradiance': 1360.801513671875,
                               'time': '2010-46-02',
                               'uncertainty': 0.10676425695419312},
                              {'irradiance': 1360.7640380859375,
                               'time': '2010-74-03',
                               'uncertainty': 0.11348938196897507},
                              {'irradiance': 1360.8289794921875,
                               'time': '2010-105-04',
                               'uncertainty': 0.07873112708330154},
                              {'irradiance': 1360.802978515625,
                               'time': '2010-135-05',
                               'uncertainty': 0.0728490799665451},
                              {'irradiance': 1360.755859375,
                               'time': '2010-166-06',
                               'uncertainty': 0.06896408647298813},
                              {'irradiance': 1360.862060546875,
                               'time': '2010-196-07',
                               'uncertainty': 0.11046750098466873},
                              {'irradiance': 1360.815673828125,
                               'time': '2010-227-08',
                               'uncertainty': 0.1193842738866806},
                              {'irradiance': 1360.8074951171875,
                               'time': '2010-258-09',
                               'uncertainty': 0.14546841382980347},
                              {'irradiance': 1360.7093505859375,
                               'time': '2010-288-10',
                               'uncertainty': 0.12660782039165497},
                              {'irradiance': 1360.81591796875,
                               'time': '2010-319-11',
                               'uncertainty': 0.10893460363149643},
                              {'irradiance': 1360.7705078125,
                               'time': '2010-349-12',
                               'uncertainty': 0.11670757085084915},
                              {'irradiance': 1360.7889404296875,
                               'time': '2011-15-01',
                               'uncertainty': 0.11085093766450882},
                              {'irradiance': 1360.8192138671875,
                               'time': '2011-46-02',
                               'uncertainty': 0.15392537415027618},
                              {'irradiance': 1360.8187255859375,
                               'time': '2011-74-03',
                               'uncertainty': 0.27840298414230347},
                              {'irradiance': 1361.1881103515625,
                               'time': '2011-105-04',
                               'uncertainty': 0.29889270663261414},
                              {'irradiance': 1361.1739501953125,
                               'time': '2011-135-05',
                               'uncertainty': 0.20746077597141266},
                              {'irradiance': 1361.0789794921875,
                               'time': '2011-166-06',
                               'uncertainty': 0.2335221916437149},
                              {'irradiance': 1361.0413818359375,
                               'time': '2011-196-07',
                               'uncertainty': 0.2098269909620285},
                              {'irradiance': 1360.9813232421875,
                               'time': '2011-227-08',
                               'uncertainty': 0.25287145376205444},
                              {'irradiance': 1361.0047607421875,
                               'time': '2011-258-09',
                               'uncertainty': 0.39784348011016846},
                              {'irradiance': 1361.1617431640625,
                               'time': '2011-288-10',
                               'uncertainty': 0.42923179268836975},
                              {'irradiance': 1361.28369140625,
                               'time': '2011-319-11',
                               'uncertainty': 0.498945027589798},
                              {'irradiance': 1361.471923828125,
                               'time': '2011-349-12',
                               'uncertainty': 0.42505475878715515},
                              {'irradiance': 1361.26318359375,
                               'time': '2012-15-01',
                               'uncertainty': 0.36890020966529846},
                              {'irradiance': 1361.2391357421875,
                               'time': '2012-46-02',
                               'uncertainty': 0.2456127405166626},
                              {'irradiance': 1361.0123291015625,
                               'time': '2012-75-03',
                               'uncertainty': 0.305828332901001},
                              {'irradiance': 1361.13037109375,
                               'time': '2012-106-04',
                               'uncertainty': 0.30412766337394714},
                              {'irradiance': 1361.0491943359375,
                               'time': '2012-136-05',
                               'uncertainty': 0.36753225326538086},
                              {'irradiance': 1361.1898193359375,
                               'time': '2012-167-06',
                               'uncertainty': 0.3412427008152008},
                              {'irradiance': 1360.958251953125,
                               'time': '2012-197-07',
                               'uncertainty': 0.39331960678100586},
                              {'irradiance': 1361.3204345703125,
                               'time': '2012-228-08',
                               'uncertainty': 0.3197237551212311},
                              {'irradiance': 1361.4583740234375,
                               'time': '2012-259-09',
                               'uncertainty': 0.34357768297195435},
                              {'irradiance': 1361.2479248046875,
                               'time': '2012-289-10',
                               'uncertainty': 0.3510296940803528},
                              {'irradiance': 1361.230712890625,
                               'time': '2012-320-11',
                               'uncertainty': 0.3300798237323761},
                              {'irradiance': 1361.2220458984375,
                               'time': '2012-350-12',
                               'uncertainty': 0.2501363456249237},
                              {'irradiance': 1361.1573486328125,
                               'time': '2013-15-01',
                               'uncertainty': 0.36482417583465576},
                              {'irradiance': 1361.2032470703125,
                               'time': '2013-46-02',
                               'uncertainty': 0.24080578982830048},
                              {'irradiance': 1361.2508544921875,
                               'time': '2013-74-03',
                               'uncertainty': 0.27846604585647583},
                              {'irradiance': 1361.08984375,
                               'time': '2013-105-04',
                               'uncertainty': 0.380461186170578},
                              {'irradiance': 1361.3265380859375,
                               'time': '2013-135-05',
                               'uncertainty': 0.43052855134010315},
                              {'irradiance': 1361.3167724609375,
                               'time': '2013-166-06',
                               'uncertainty': 0.30593469738960266},
                              {'irradiance': 1361.3564453125,
                               'time': '2013-196-07',
                               'uncertainty': 0.3267636299133301},
                              {'irradiance': 1361.4205322265625,
                               'time': '2013-227-08',
                               'uncertainty': 0.3256790041923523},
                              {'irradiance': 1361.392333984375,
                               'time': '2013-258-09',
                               'uncertainty': 0.2459065169095993},
                              {'irradiance': 1361.089599609375,
                               'time': '2013-288-10',
                               'uncertainty': 0.39551636576652527},
                              {'irradiance': 1361.0926513671875,
                               'time': '2013-319-11',
                               'uncertainty': 0.47922998666763306},
                              {'irradiance': 1361.44921875,
                               'time': '2013-349-12',
                               'uncertainty': 0.4588073790073395},
                              {'irradiance': 1361.27392578125,
                               'time': '2014-15-01',
                               'uncertainty': 0.5070759654045105},
                              {'irradiance': 1361.0091552734375,
                               'time': '2014-46-02',
                               'uncertainty': 0.6135506629943848},
                              {'irradiance': 1361.7689208984375,
                               'time': '2014-74-03',
                               'uncertainty': 0.47977414727211},
                              {'irradiance': 1361.4873046875,
                               'time': '2014-105-04',
                               'uncertainty': 0.47385138273239136},
                              {'irradiance': 1361.3778076171875,
                               'time': '2014-135-05',
                               'uncertainty': 0.39970463514328003},
                              {'irradiance': 1361.242919921875,
                               'time': '2014-166-06',
                               'uncertainty': 0.35092175006866455},
                              {'irradiance': 1361.274169921875,
                               'time': '2014-196-07',
                               'uncertainty': 0.4615730047225952},
                              {'irradiance': 1361.485595703125,
                               'time': '2014-227-08',
                               'uncertainty': 0.3889349699020386},
                              {'irradiance': 1361.511474609375,
                               'time': '2014-258-09',
                               'uncertainty': 0.4470130503177643},
                              {'irradiance': 1361.1422119140625,
                               'time': '2014-288-10',
                               'uncertainty': 0.5478575229644775},
                              {'irradiance': 1361.5526123046875,
                               'time': '2014-319-11',
                               'uncertainty': 0.5228492021560669},
                              {'irradiance': 1361.480224609375,
                               'time': '2014-349-12',
                               'uncertainty': 0.5431603789329529},
                              {'irradiance': 1361.523681640625,
                               'time': '2015-15-01',
                               'uncertainty': 0.46390312910079956},
                              {'irradiance': 1361.9071044921875,
                               'time': '2015-46-02',
                               'uncertainty': 0.3971654772758484},
                              {'irradiance': 1361.7066650390625,
                               'time': '2015-74-03',
                               'uncertainty': 0.36746495962142944},
                              {'irradiance': 1361.703369140625,

                               'time': '2015-105-04',
                               'uncertainty': 0.39091238379478455},
                              {'irradiance': 1361.48486328125,
                               'time': '2015-135-05',
                               'uncertainty': 0.355719655752182},
                              {'irradiance': 1361.2862548828125,
                               'time': '2015-166-06',
                               'uncertainty': 0.37156999111175537},
                              {'irradiance': 1361.412353515625,
                               'time': '2015-196-07',
                               'uncertainty': 0.31693947315216064},
                              {'irradiance': 1361.0853271484375,
                               'time': '2015-227-08',
                               'uncertainty': 0.29743823409080505},
                              {'irradiance': 1361.046142578125,
                               'time': '2015-258-09',
                               'uncertainty': 0.2631687521934509},
                              {'irradiance': 1361.2381591796875,
                               'time': '2015-288-10',
                               'uncertainty': 0.24139884114265442},
                              {'irradiance': 1361.3433837890625,
                               'time': '2015-319-11',
                               'uncertainty': 0.26481738686561584},
                              {'irradiance': 1361.2198486328125,
                               'time': '2015-349-12',
                               'uncertainty': 0.27454227209091187},
                              {'irradiance': 1361.2010498046875,
                               'time': '2016-15-01',
                               'uncertainty': 0.23896139860153198},
                              {'irradiance': 1361.22705078125,
                               'time': '2016-46-02',
                               'uncertainty': 0.23809432983398438},
                              {'irradiance': 1361.0706787109375,
                               'time': '2016-75-03',
                               'uncertainty': 0.18923620879650116},
                              {'irradiance': 1360.7958984375,
                               'time': '2016-106-04',
                               'uncertainty': 0.19018574059009552},
                              {'irradiance': 1360.9359130859375,
                               'time': '2016-136-05',
                               'uncertainty': 0.2058090716600418},
                              {'irradiance': 1360.9906005859375,
                               'time': '2016-167-06',
                               'uncertainty': 0.14780445396900177},
                              {'irradiance': 1360.9083251953125,
                               'time': '2016-197-07',
                               'uncertainty': 0.16783340275287628},
                              {'irradiance': 1360.919189453125,
                               'time': '2016-228-08',
                               'uncertainty': 0.15456563234329224},
                              {'irradiance': 1360.9156494140625,
                               'time': '2016-259-09',
                               'uncertainty': 0.16296756267547607},
                              {'irradiance': 1360.8603515625,
                               'time': '2016-289-10',
                               'uncertainty': 0.1427568644285202},
                              {'irradiance': 1360.8614501953125,
                               'time': '2016-320-11',
                               'uncertainty': 0.09791560471057892},
                              {'irradiance': 1360.7462158203125,
                               'time': '2016-350-12',
                               'uncertainty': 0.07373598217964172},
                              {'irradiance': 1360.657958984375,
                               'time': '2017-15-01',
                               'uncertainty': 0.07648460566997528},
                              {'irradiance': 1360.66796875,
                               'time': '2017-46-02',
                               'uncertainty': 0.06064043194055557},
                              {'irradiance': 1360.6038818359375,
                               'time': '2017-74-03',
                               'uncertainty': 0.05235479772090912},
                              {'irradiance': 1360.66455078125,
                               'time': '2017-105-04',
                               'uncertainty': 0.10596995055675507},
                              {'irradiance': 1360.714111328125,
                               'time': '2017-135-05',
                               'uncertainty': 0.05889081209897995},
                              {'irradiance': 1360.7537841796875,
                               'time': '2017-166-06',
                               'uncertainty': 0.08205016702413559},
                              {'irradiance': 1360.5858154296875,
                               'time': '2017-196-07',
                               'uncertainty': 0.08628804981708527},
                              {'irradiance': 1360.5911865234375,
                               'time': '2017-227-08',
                               'uncertainty': 0.10716314613819122},
                              {'irradiance': 1360.45556640625,
                               'time': '2017-258-09',
                               'uncertainty': 0.19993247091770172},
                              {'irradiance': 1360.8067626953125,
                               'time': '2017-288-10',
                               'uncertainty': 0.08495716750621796},
                              {'irradiance': 1360.7574462890625,
                               'time': '2017-319-11',
                               'uncertainty': 0.056678470224142075},
                              {'irradiance': 1360.65771484375,
                               'time': '2017-349-12',
                               'uncertainty': 0.04012667387723923}]}}

In [164]:
# Extract JSON data into dataframe using normalize function
TSI_df = json_normalize(TSI_json['nrl2_tsi_P1M']['samples'])

TSI_df.head()

    irradiance         time  uncertainty
0  1361.356445   1970-15-01     0.560351
1  1361.090576   1970-46-02     0.642357
2  1361.641235   1970-74-03     0.557128
3  1361.348755  1970-105-04     0.610397
4  1361.238403  1970-135-05     0.664706

In [165]:
#Write the raw data into data folder
TSI_df.to_csv(os.path.join(clnd_data_dir,"TSI_rawdata_fromJSON.csv"), index = False)

## Clean the data
 - Step 1 : Extract Year and Month from time column
 - Step 2 : reshape data so that Month is displayed across columns 
 - Step 3: Check for missing values
 - Step 4: If values are missing, replace them with mean for the year

In [166]:
# Step 1 : Extract Year and Month from time column
split_yr_mnth = TSI_df['time'].str.split("-")

TSI_df['Year'] = [v[0] for v in split_yr_mnth]
TSI_df['Month'] = [v[2] for v in split_yr_mnth]

TSI_df.head()

    irradiance         time  uncertainty  Year Month
0  1361.356445   1970-15-01     0.560351  1970    01
1  1361.090576   1970-46-02     0.642357  1970    02
2  1361.641235   1970-74-03     0.557128  1970    03
3  1361.348755  1970-105-04     0.610397  1970    04
4  1361.238403  1970-135-05     0.664706  1970    05

In [167]:
#Step 2: reshape data so that Month is displayed across columns 

TSI_df_fnl = TSI_df.pivot_table(index = ['Year'],columns = 'Month', values = 'irradiance')

TSI_df_fnl.reset_index(inplace = True)

# Rename month number to names
mnth_names = {'01':'Jan','02':'Feb','03':'Mar','04':'Apr','05':'May','06':'Jun',\
              '07':'Jul','08':'Aug','09':'Sep','10':'Oct','11':'Nov', '12':'Dec'}

TSI_df_fnl.rename(columns = mnth_names, inplace = True)

TSI_df_fnl.rename_axis("", axis = 1, inplace = True)

TSI_df_fnl.head()

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1970,1361.356445,1361.090576,1361.641235,1361.348755,1361.238403,1361.541016,1361.328857,1361.303101,1361.335693,1361.390015,1361.366943,1361.544800
1,1971,1361.068115,1361.079346,1361.334229,1361.090576,1361.068359,1361.143066,1360.915405,1360.887695,1361.090698,1360.843506,1360.992798,1360.974854
2,1972,1361.261719,1361.021240,1361.064453,1361.411987,1360.911255,1361.129150,1361.247925,1361.107300,1361.278687,1360.903809,1361.025879,1360.847900
3,1973,1360.994019,1360.989502,1360.784302,1360.887573,1360.996704,1360.930176,1360.851318,1360.848389,1360.680054,1360.842407,1360.782349,1360.796875
4,1974,1360.768555,1360.731689,1360.846680,1360.693481,1360.897705,1360.935059,1360.620239,1360.803101,1360.700195,1360.696045,1360.851929,1360.705933

In [168]:
# Step 3: Check for missing values
#Step 4: Replace missing values with row wise averages for months
if(TSI_df_fnl.isnull().values.sum() != 0):
    print("has missing values")
    
    #check to see if it is in the year
    if(TSI_df_fnl['Year'].isnull().values.sum() != 0):
        print('{TSI_df_fnl["Year"].isnull().values.sum()} Year(s) are missing')
    
    if(TSI_df_fnl['Month'].isnull().values.sum() != 0):
        rowAvg = TSI_df_fnl[['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']].mean(axis = 1)
        # Replace NAN with row-wise mean
        TSI_df_fnl = TSI_df_fnl.apply(lambda r: r.fillna(rowAvg[r.index]))
        
else:
    print("Data has no missing values")

TSI_df_fnl = TSI_df_fnl.round(decimals = 2)
TSI_df_fnl.head()

Data has no missing values

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,1970,1361.36,1361.09,1361.64,1361.35,1361.24,1361.54,1361.33,1361.30,1361.34,1361.39,1361.37,1361.54
1,1971,1361.07,1361.08,1361.33,1361.09,1361.07,1361.14,1360.92,1360.89,1361.09,1360.84,1360.99,1360.97
2,1972,1361.26,1361.02,1361.06,1361.41,1360.91,1361.13,1361.25,1361.11,1361.28,1360.90,1361.03,1360.85
3,1973,1360.99,1360.99,1360.78,1360.89,1361.00,1360.93,1360.85,1360.85,1360.68,1360.84,1360.78,1360.80
4,1974,1360.77,1360.73,1360.85,1360.69,1360.90,1360.94,1360.62,1360.80,1360.70,1360.70,1360.85,1360.71

In [169]:
# Write to CSV 
TSI_df_fnl.to_csv(os.path.join(clnd_data_dir,"TSI_MonthlyAvg.csv"), index = False)

## DATA EXTRACTION AND CLEANING DONE *****************